Repository Stride-Labs/stride, changes with the labels that .github/labeler.yml gives for each.
All labels: C:app-wiring, C:simulator, C:epochs, C:interchainquery, C:mint, C:stakeibc, C:records, T:build, T:CI, C:CLI, C:docs, C:proto, C:submodules, C:test, dependencies

.github/labeler.yml:

# Note that any updates to this files will not be applied in CI
# until this file is merged into main. This is due to oddities of the labeller Github Action.
"C:app-wiring":
  - app/*.go
  - app/apptesting/**/*
  - app/upgrades/**/*
  # Also match any module.go update
  - x/**/module.go
"C:simulator":
  # Match all of simulation & tests/simulator folder
  - simulation/**/*
  - simulation/**/**/*
  - tests/simulator/**
  # Match any module update
  - x/**/simulation/*.go
# Label module changes
"C:epochs":
  - x/epochs/**/*
"C:interchainquery":
  - x/interchainquery/**/*
"C:mint":
  - x/mint/**/*
"C:stakeibc":
  - x/stakeibc/**/*
"C:records":
  - x/records/**/*
"T:build":
  - Makefile
  - Dockerfile
  - scripts/*
  - dockernet/*
"T:CI":
  - .github/**/*.yml
  - .golangci.yml
"C:CLI":
  - cmd/**/*
  - x/*/client/**/*
"C:docs":
  - README.md
  - x/*.md
  - x/**/*.md
  - x/**/*/*.md
  - tests/**/*.md
"C:proto":
  - proto/**
"C:submodules":
  - deps/**
"C:test":
  - testutil/**
"dependencies":
  - go.*

add accParams to set prefix for test
  app/params/amino.go
  app/params/config.go
  app/params/doc.go
  app/params/encoding.go
  app/params/proto.go
  x/stakeibc/types/message_rebalance_validators_test.go
Labels: C:stakeibc

fix syntax
  app/params/config.go
Labels: none

add testcase for msg_redeem_stake validateBasic
  x/stakeibc/types/message_redeem_stake_test.go
Labels: C:stakeibc

working on msg_rebalance_validator_tests
  x/stakeibc/keeper/msg_server_rebalance_validators.go
  x/stakeibc/keeper/msg_server_rebalance_validators_test.go
Labels: C:stakeibc

scaffold ibc rate limit module
  app/app.go
  proto/stride/ibcratelimit/genesis.proto
  proto/stride/ibcratelimit/ibcratelimit.proto
  proto/stride/ibcratelimit/params.proto
  proto/stride/ibcratelimit/query.proto
  proto/stride/ibcratelimit/tx.proto
  x/ibcratelimit/client/cli/query.go
  x/ibcratelimit/client/cli/tx.go
  x/ibcratelimit/genesis.go
  x/ibcratelimit/handler.go
  x/ibcratelimit/ibc_module.go
  x/ibcratelimit/ics4_wrapper.go
  x/ibcratelimit/keeper/grpc_query.go
  x/ibcratelimit/keeper/keeper.go
  x/ibcratelimit/keeper/msg_server.go
  x/ibcratelimit/keeper/rate_limit.go
  x/ibcratelimit/module.go
  x/ibcratelimit/types/codec.go
  x/ibcratelimit/types/genesis.go
  x/ibcratelimit/types/genesis.pb.go
  x/ibcratelimit/types/ibcratelimit.pb.go
  x/ibcratelimit/types/keys.go
  x/ibcratelimit/types/params.go
  x/ibcratelimit/types/params.pb.go
  x/ibcratelimit/types/query.pb.go
  x/ibcratelimit/types/query.pb.gw.go
  x/ibcratelimit/types/tx.pb.go
Labels: C:app-wiring, C:CLI, C:proto

renaming rate limiter module name, cleaning up some codes
  app/app.go
  proto/stride/ibcratelimit/params.proto
  proto/stride/ratelimit/genesis.proto
  proto/stride/ratelimit/params.proto
  proto/stride/ratelimit/query.proto
  proto/stride/ratelimit/ratelimit.proto
  proto/stride/ratelimit/tx.proto
  x/ratelimit/client/cli/query.go
  x/ratelimit/client/cli/tx.go
  x/ratelimit/genesis.go
  x/ratelimit/handler.go
  x/ratelimit/ibc_module.go
  x/ratelimit/ics4_wrapper.go
  x/ratelimit/keeper/grpc_query.go
  x/ratelimit/keeper/keeper.go
  x/ratelimit/keeper/msg_server.go
  x/ratelimit/keeper/rate_limit.go
  x/ratelimit/module.go
  x/ratelimit/types/codec.go
  x/ratelimit/types/genesis.go
  x/ratelimit/types/genesis.pb.go
  x/ratelimit/types/keys.go
  x/ratelimit/types/params.go
  x/ratelimit/types/params.pb.go
  x/ratelimit/types/query.pb.go
  x/ratelimit/types/query.pb.gw.go
  x/ratelimit/types/ratelimit.pb.go
  x/ratelimit/types/tx.pb.go
Labels: C:app-wiring, C:CLI, C:proto

proto rebuild, some comment updates
  proto/stride/ratelimit/tx.proto
  x/ratelimit/handler.go
  x/ratelimit/types/ratelimit.pb.go
  x/ratelimit/types/tx.pb.go
Labels: C:proto

added osmo attribution
  README.md
  x/ratelimit/LICENSE
Labels: C:docs

scaffold ibc rate limit module (#473)
  README.md
  app/app.go
  proto/stride/ratelimit/genesis.proto
  proto/stride/ratelimit/params.proto
  proto/stride/ratelimit/query.proto
  proto/stride/ratelimit/ratelimit.proto
  proto/stride/ratelimit/tx.proto
  x/ratelimit/LICENSE
  x/ratelimit/client/cli/query.go
  x/ratelimit/client/cli/tx.go
  x/ratelimit/genesis.go
  x/ratelimit/handler.go
  x/ratelimit/ibc_module.go
  x/ratelimit/ics4_wrapper.go
  x/ratelimit/keeper/grpc_query.go
  x/ratelimit/keeper/keeper.go
  x/ratelimit/keeper/msg_server.go
  x/ratelimit/keeper/rate_limit.go
  x/ratelimit/module.go
  x/ratelimit/types/codec.go
  x/ratelimit/types/genesis.go
  x/ratelimit/types/genesis.pb.go
  x/ratelimit/types/keys.go
  x/ratelimit/types/params.go
  x/ratelimit/types/params.pb.go
  x/ratelimit/types/query.pb.go
  x/ratelimit/types/query.pb.gw.go
  x/ratelimit/types/ratelimit.pb.go
  x/ratelimit/types/tx.pb.go
Labels: C:app-wiring, C:CLI, C:docs, C:proto

stride v3 -> v4 in rate limit module
  x/ratelimit/client/cli/query.go
  x/ratelimit/client/cli/tx.go
  x/ratelimit/genesis.go
  x/ratelimit/handler.go
  x/ratelimit/ibc_module.go
  x/ratelimit/keeper/grpc_query.go
  x/ratelimit/keeper/msg_server.go
  x/ratelimit/keeper/rate_limit.go
  x/ratelimit/module.go
Labels: C:app-wiring, C:CLI

v3 -> v4 for rate limit protos
  proto/stride/ratelimit/genesis.proto
  proto/stride/ratelimit/params.proto
  proto/stride/ratelimit/query.proto
  proto/stride/ratelimit/ratelimit.proto
  proto/stride/ratelimit/tx.proto
Labels: C:proto

formatted and regenerated protos
  proto/stride/ratelimit/params.proto
  proto/stride/ratelimit/query.proto
  proto/stride/ratelimit/ratelimit.proto
  proto/stride/ratelimit/tx.proto
  x/ratelimit/types/genesis.pb.go
  x/ratelimit/types/params.pb.go
  x/ratelimit/types/query.pb.go
  x/ratelimit/types/query.pb.gw.go
  x/ratelimit/types/ratelimit.pb.go
  x/ratelimit/types/tx.pb.go
Labels: C:proto

avoid Int pointer
  proto/stride/claim/params.proto
  proto/stride/records/genesis.proto
  proto/stride/stakeibc/callbacks.proto
  proto/stride/stakeibc/delegation.proto
  proto/stride/stakeibc/host_zone.proto
  proto/stride/stakeibc/tx.proto
  proto/stride/stakeibc/validator.proto
  x/claim/types/params.pb.go
  x/records/types/genesis.pb.go
  x/stakeibc/types/callbacks.pb.go
  x/stakeibc/types/delegation.pb.go
  x/stakeibc/types/host_zone.pb.go
  x/stakeibc/types/tx.pb.go
  x/stakeibc/types/validator.pb.go
Labels: C:stakeibc, C:records, C:proto

add test cases for SubmitHostZoneUnbondingMsg
  x/stakeibc/keeper/unbonding_records_test.go
Labels: C:stakeibc

Update x/app-router/keeper/liquidstake.go
  x/app-router/keeper/liquidstake.go
Labels: none

resolve comment for forwarding pr
  scripts/tests/gaia_tests.bats
  x/app-router/keeper/liquidstake.go
  x/app-router/types/parser.go
  x/app-router/types/parser_test.go
Labels: none

update liquid staking unit test to test OnReceivePacket directly
  x/app-router/keeper/liquidstake_test.go
Labels: none

add more test cases
  x/app-router/keeper/liquidstake_test.go
Labels: none

update denoms and change order of cases
  x/app-router/keeper/liquidstake_test.go
Labels: none

add support for ibc v5.1.0 and more test cases and check
  x/app-router/keeper/liquidstake_test.go
  x/app-router/module_ibc.go
Labels: none

update go mod & go sum
  go.mod
  go.sum
Labels: dependencies

fix calculation logic in func
  x/claim/keeper/claim.go
  x/claim/types/query.pb.go
  x/stakeibc/client/cli/tx_clear_balance.go
  x/stakeibc/client/cli/tx_liquid_stake.go
  x/stakeibc/client/cli/tx_redeem_stake.go
  x/stakeibc/keeper/deposit_records.go
  x/stakeibc/keeper/hooks.go
  x/stakeibc/keeper/host_zone.go
  x/stakeibc/keeper/icacallbacks_claim.go
  x/stakeibc/keeper/icacallbacks_delegate.go
  x/stakeibc/keeper/icacallbacks_rebalance.go
  x/stakeibc/keeper/icacallbacks_reinvest.go
  x/stakeibc/keeper/icacallbacks_undelegate.go
  x/stakeibc/keeper/icqcallbacks_delegator_shares.go
  x/stakeibc/keeper/msg_server_liquid_stake.go
  x/stakeibc/keeper/msg_server_rebalance_validators.go
  x/stakeibc/keeper/msg_server_redeem_stake.go
  x/stakeibc/keeper/msg_server_register_host_zone.go
  x/stakeibc/keeper/msg_server_submit_tx.go
  x/stakeibc/keeper/unbonding_records.go
  x/stakeibc/keeper/validator_selection.go
  x/stakeibc/types/message_clear_balance.go
  x/stakeibc/types/message_liquid_stake.go
  x/stakeibc/types/message_redeem_stake.go
Labels: C:stakeibc, C:CLI

fix test
  x/records/keeper/callback_transfer_test.go
  x/records/keeper/transfer_test.go
  x/stakeibc/keeper/deposit_records_test.go
  x/stakeibc/keeper/icacallbacks_claim_test.go
  x/stakeibc/keeper/icacallbacks_delegate_test.go
  x/stakeibc/keeper/icacallbacks_rebalance_test.go
  x/stakeibc/keeper/icacallbacks_reinvest_test.go
  x/stakeibc/keeper/icacallbacks_undelegate_test.go
  x/stakeibc/keeper/icqcallbacks_delegator_shares_test.go
  x/stakeibc/keeper/msg_server_add_validator_test.go
  x/stakeibc/keeper/msg_server_claim_undelegated_tokens_test.go
  x/stakeibc/keeper/msg_server_clear_balance_test.go
  x/stakeibc/keeper/msg_server_delete_validator_test.go
  x/stakeibc/keeper/msg_server_liquid_stake_test.go
  x/stakeibc/keeper/msg_server_rebalance_validators_test.go
  x/stakeibc/keeper/msg_server_redeem_stake_test.go
  x/stakeibc/keeper/msg_server_register_host_zone_test.go
  x/stakeibc/keeper/unbonding_records_cleanup_test.go
  x/stakeibc/keeper/unbonding_records_get_host_zone_unbondings_msgs_test.go
  x/stakeibc/keeper/unbonding_records_initiate_all_unbondings_test.go
  x/stakeibc/keeper/unbonding_records_sweep_unbonded_tokens_test.go
  x/stakeibc/keeper/update_redemption_rates_test.go
  x/stakeibc/types/message_liquid_stake_test.go
  x/stakeibc/types/message_redeem_stake_test.go
Labels: C:stakeibc, C:records

compare
  x/stakeibc/types/message_redeem_stake_test.go
Labels: C:stakeibc

update readme
  README.md
Labels: C:docs

Update README with testing mnemonic (#475)
  README.md
Labels: C:docs

Update README with testing mnemonic (#475)
  README.md
Labels: C:docs
