Repository Stride-Labs/stride, pull requests merged in 2022-11, with the labels that each got.

#326 Removed Localnet
  Makefile
  scripts-local/account_vars.sh
  scripts-local/build.sh
  scripts-local/check_dependencies.sh
  scripts-local/create_logs_gaia.sh
  scripts-local/create_logs_juno.sh
  scripts-local/create_logs_osmo.sh
  scripts-local/genesis.sh
  scripts-local/go-rly/config/config.yaml
  scripts-local/go-rly/keys/GAIA/keyring-test/gaiarly.info
  scripts-local/go-rly/keys/GAIA/keyring-test/rly2.info
  scripts-local/go-rly/keys/JUNO/keyring-test/junorly.info
  scripts-local/go-rly/keys/OSMO/keyring-test/osmorly.info
  scripts-local/go-rly/keys/STRIDE/keyring-test/rly1.info
  scripts-local/go-rly/keys/STRIDE/keyring-test/striderly.info
  scripts-local/hermes/cold.toml
  scripts-local/hermes/config.toml
  scripts-local/hermes/config_all.toml
  scripts-local/icq/config.yaml
  scripts-local/icq_startup.sh
  scripts-local/init_channel.sh
  scripts-local/init_gaia.sh
  scripts-local/init_juno.sh
  scripts-local/init_osmo.sh
  scripts-local/init_relayers.sh
  scripts-local/init_stride.sh
  scripts-local/juno/ica.json
  scripts-local/register_host.sh
  scripts-local/start_network.sh
  scripts-local/start_upgrade.sh
  scripts-local/test-utils/1.sh
  scripts-local/test-utils/2.sh
  scripts-local/test-utils/3.sh
  scripts-local/test-utils/4.sh
  scripts-local/test-utils/run_any_cli_command.sh
  scripts-local/test-utils/submit_many_small_liq_stakes.sh
  scripts-local/test-utils/validator_selection/1.sh
  scripts-local/test-utils/validator_selection/2.sh
  scripts-local/test-utils/validator_selection/change_validator_weight.sh
  scripts-local/test-utils/validator_selection/liquid_stake.sh
  scripts-local/test-utils/validator_selection/local_vars.sh
  scripts-local/test-utils/validator_selection/query_validators_added.sh
  scripts-local/test-utils/validator_selection/register_extra_validators.sh
  scripts-local/test-utils/validator_selection/temp.sh
  scripts-local/test_upgrade.sh
  scripts-local/tests/gaia_tests.bats
  scripts-local/tests/juno_tests.bats
  scripts-local/tests/osmo_tests.bats
  scripts-local/tests/run_all_tests.sh
  scripts-local/upgrades/README.md
  scripts-local/upgrades/submit_upgrade.sh
  scripts-local/upgrades/view_proposal_status.sh
  scripts-local/vars.sh
Labels: T:build

#330 Dockernet Slash Test Configuration
  scripts/init_chain.sh
  scripts/start_network.sh
Labels: T:build

#337 ICQCallbacks File Org
  app/app.go
  x/interchainquery/keeper/keeper.go
  x/interchainquery/keeper/msg_server.go
  x/interchainquery/types/callbacks.go
  x/stakeibc/keeper/callbacks.go
  x/stakeibc/keeper/icacallbacks.go
  x/stakeibc/keeper/icqcallbacks.go
  x/stakeibc/keeper/icqcallbacks_delegator_shares.go
  x/stakeibc/keeper/icqcallbacks_validator_exchange_rate.go
  x/stakeibc/keeper/icqcallbacks_withdrawal_balance.go
  x/stakeibc/keeper/msg_server_claim_undelegated_tokens.go
  x/stakeibc/keeper/msg_server_rebalance_validators.go
  x/stakeibc/keeper/msg_server_submit_tx.go
  x/stakeibc/keeper/unbonding_records.go
Labels: C:app-wiring, C:stakeibc, C:interchainquery

#352 add authz
  app/app.go
Labels: C:app-wiring, A:automerge

#345 Create list_of_IBC_channels.md
  docs/list_of_IBC_channels.md
Labels: A:automerge

#344 Reset TTL Upon Duplicate Query Submission
  x/interchainquery/keeper/keeper.go
  x/interchainquery/keeper/msg_server.go
  x/interchainquery/keeper/queries.go
  x/stakeibc/keeper/update_validator_shares_exch_rate_test.go
Labels: C:stakeibc, C:interchainquery

#356 Incremented Stride to version v3.0.0
  app/app.go
  app/upgrades/README.md
  cmd/strided/config/config.go
Labels: C:app-wiring, C:CLI

#359 Feature/airdrop
  go.mod
  go.sum
  proto/stride/claim/claim.proto
  proto/stride/claim/genesis.proto
  proto/stride/claim/params.proto
  proto/stride/claim/query.proto
  proto/stride/claim/tx.proto
  proto/stride/vesting/tx.proto
  proto/stride/vesting/vesting.proto
  x/claim/client/cli/query.go
  x/claim/keeper/claim.go
  x/claim/keeper/grpc_query.go
  x/claim/types/claim.pb.go
  x/claim/types/genesis.pb.go
  x/claim/types/params.pb.go
  x/claim/types/query.pb.go
  x/claim/types/query.pb.gw.go
  x/claim/types/tx.pb.go
  x/claim/vesting/types/tx.pb.go
  x/claim/vesting/types/vesting.pb.go
  x/claim/vesting/types/vesting_account_test.go
Labels: C:CLI, C:proto, dependencies

#362 Dockernet Upgrade Build Bug
  scripts/start_network.sh
  scripts/upgrades/Dockerfile.cosmovisor
  scripts/upgrades/README.md
Labels: T:build

#351 revert DELEGATION_IN_PROGRESS records to DELEGATION_QUEUE
  x/stakeibc/keeper/icacallbacks_delegate.go
  x/stakeibc/keeper/msg_server_restore_interchain_account.go
  x/stakeibc/keeper/msg_server_restore_interchain_account_test.go
  x/stakeibc/module_ibc.go
Labels: C:stakeibc, A:automerge

#363 Make amount claimable constant across airdrop epochs
  proto/stride/claim/params.proto
  proto/stride/claim/tx.proto
  x/claim/client/cli/tx_claim_free_amount.go
  x/claim/keeper/claim.go
  x/claim/keeper/claim_test.go
  x/claim/keeper/hooks.go
  x/claim/keeper/msg_server.go
  x/claim/types/errors.go
  x/claim/types/msgs.go
  x/claim/types/params.pb.go
  x/claim/types/tx.pb.go
Labels: C:CLI, C:proto, A:automerge

#369 bumps only
  .github/workflows/build.yml
  .github/workflows/test.yml
  Dockerfile.osmo
  Dockerfile.relayer
  Dockerfile.stars
  Dockerfile.stride
  cmd/strided/root.go
  go.mod
  go.sum
  scripts/upgrades/Dockerfile.cosmovisor
Labels: T:CI, C:CLI, dependencies

#375 add max claimable tokens query
  proto/stride/claim/query.proto
  proto/stride/claim/tx.proto
  scripts/airdrop.sh
  x/claim/client/cli/query.go
  x/claim/keeper/claim.go
  x/claim/keeper/claim_test.go
  x/claim/keeper/grpc_query.go
  x/claim/spec/04_keeper.md
  x/claim/types/query.pb.go
Labels: T:build, C:CLI, C:docs, C:proto, A:automerge

#391 Localstride
  .dockerignore
  Dockerfile.localstride
  Makefile
  terraform.tfstate
  testutil/localstride/.gitignore
  testutil/localstride/README.md
  testutil/localstride/docker-compose.yml
  testutil/localstride/scripts/add_keys.sh
  testutil/localstride/scripts/start.sh
  testutil/localstride/state_export/docker-compose.yml
  testutil/localstride/state_export/scripts/start.sh
  testutil/localstride/state_export/scripts/testnetify.py
Labels: T:build, C:test

#373 Interchainquery Proto Cleanup
  proto/stride/interchainquery/v1/genesis.proto
  x/interchainquery/keeper/abci.go
  x/interchainquery/keeper/keeper.go
  x/interchainquery/keeper/msg_submit_query_response_test.go
  x/interchainquery/keeper/new_query_test.go
  x/interchainquery/keeper/queries.go
  x/interchainquery/types/genesis.pb.go
  x/stakeibc/keeper/icqcallbacks_withdrawal_balance.go
  x/stakeibc/keeper/msg_server_submit_tx.go
Labels: C:stakeibc, C:interchainquery, C:proto

#390 Additional Undelegation Logging
  x/stakeibc/keeper/unbonding_records.go
  x/stakeibc/keeper/validator_selection.go
Labels: C:stakeibc

#387 Revert HostZoneUnbonding Status upon Channel Restoration
  x/records/keeper/epoch_unbonding_record.go
  x/records/keeper/epoch_unbonding_record_test.go
  x/records/keeper/grpc_query_epoch_unbonding_record_test.go
  x/stakeibc/keeper/icacallbacks_redemption.go
  x/stakeibc/keeper/icacallbacks_undelegate.go
  x/stakeibc/keeper/msg_server_restore_interchain_account.go
  x/stakeibc/keeper/msg_server_restore_interchain_account_test.go
  x/stakeibc/keeper/unbonding_records.go
Labels: C:stakeibc, C:records, v4
