Repository Stride-Labs/stride, pull requests merged in 2022-07, with the labels that each got.

#111 fix labels
  .github/labeler.yml
  .github/workflows/label.yml
Labels: T:CI

#112 add unittest workflow
  .github/workflows/test.yml
  x/stakeibc/keeper/msg_server_liquid_stake_test.go
Labels: C:stakeibc, T:CI

#114 add stride build
  .github/workflows/build.yml
Labels: T:CI

#115 Add dependabot
  .github/dependabot.yml
Labels: T:CI

#116 add automerge
  .github/mergify.yml
Labels: T:CI

#126 bump go to 1.18
  .github/labeler.yml
  .github/workflows/build.yml
  .github/workflows/lint.yml
  go.mod
  go.sum
Labels: T:CI, dependencies

#132 updated genesis slashing and gov params
  .github/workflows/testnet.yml
  scripts/testnet/setup_stride_state.sh
Labels: T:CI

#131 Removed v2 upgrade
  .gitignore
  app/upgrades.go
  app/upgrades/v2/upgrades.go
Labels: C:app-wiring

#124 fix gosec issues and add gosec action
  .github/workflows/gosec.yml
  Makefile
  app/app.go
  cmd/strided/root.go
  go.mod
  go.sum
  utils/utils.go
  x/epochs/client/cli/query.go
  x/interchainquery/keeper/abci.go
  x/interchainquery/keeper/keeper.go
  x/interchainquery/keeper/msg_server.go
  x/mint/keeper/keeper.go
  x/records/client/cli/tx.go
  x/stakeibc/client/cli/tx.go
  x/stakeibc/keeper/callbacks.go
  x/stakeibc/keeper/hooks.go
  x/stakeibc/keeper/host_zone.go
  x/stakeibc/keeper/ibc_handlers.go
  x/stakeibc/keeper/msg_server_claim_undelegated_tokens.go
  x/stakeibc/keeper/msg_server_liquid_stake.go
  x/stakeibc/keeper/msg_server_rebalance_validators.go
  x/stakeibc/keeper/msg_server_redeem_stake.go
  x/stakeibc/keeper/msg_server_submit_tx.go
  x/stakeibc/keeper/unbonding_records.go
  x/stakeibc/keeper/validator_selection.go
  x/stakeibc/module_simulation.go
Labels: C:app-wiring, C:epochs, C:stakeibc, T:CI, C:interchainquery, C:mint, C:records, T:build, C:CLI, A:automerge, dependencies

#144 Certik severity optimization
  x/interchainquery/keeper/msg_server.go
  x/records/module_ibc.go
  x/stakeibc/keeper/hooks.go
  x/stakeibc/keeper/host_zone.go
  x/stakeibc/keeper/ibc_handlers.go
  x/stakeibc/keeper/msg_server_redeem_stake.go
Labels: C:stakeibc, C:interchainquery, C:records

#143 UNB-02 | Incorrect Comparison Condition
  x/stakeibc/keeper/unbonding_records.go
Labels: C:stakeibc

#141 SLU-03 | Using improper Log level
  x/stakeibc/keeper/msg_server_add_validator.go
Labels: C:stakeibc

#140 SLU-02 | Missing Return Statement
  x/stakeibc/keeper/msg_server_add_validator.go
  x/stakeibc/keeper/msg_server_submit_tx.go
  x/stakeibc/types/errors.go
Labels: C:stakeibc, A:automerge
