Repository Stride-Labs/stride, pull requests merged in 2022-10, with the labels that each got.

#277 chore: tidy
  go.mod
  go.sum
Labels: v2

#307 Added Upgrade Scripts to Dockernet
  .gitignore
  README.md
  scripts/init_chain.sh
  scripts/register_host.sh
  scripts/start_network.sh
  scripts/test-util/4.sh
  scripts/upgrades/Dockerfile.cosmovisor
  scripts/upgrades/Dockerfile.stride
  scripts/upgrades/README.md
  scripts/upgrades/submit_upgrade.sh
  scripts/vars.sh
Labels: T:build, C:docs, v2

#296 Add PENDING status to IBC / ICA function calls
  go.mod
  go.sum
  proto/records/genesis.proto
  scripts/tests/gaia_tests.bats
  utils/utils.go
  x/epochs/README.md
  x/records/keeper/callback_transfer.go
  x/records/keeper/callback_transfer_test.go
  x/records/keeper/epoch_unbonding_record.go
  x/records/keeper/keeper.go
  x/records/keeper/transfer_test.go
  x/records/module_ibc.go
  x/records/types/errors.go
  x/records/types/genesis.pb.go
  x/stakeibc/keeper/deposit_records.go
  x/stakeibc/keeper/deposit_records_test.go
  x/stakeibc/keeper/hooks.go
  x/stakeibc/keeper/icacallbacks_claim_test.go
  x/stakeibc/keeper/icacallbacks_delegate.go
  x/stakeibc/keeper/icacallbacks_delegate_test.go
  x/stakeibc/keeper/icacallbacks_redemption.go
  x/stakeibc/keeper/icacallbacks_redemption_test.go
  x/stakeibc/keeper/icacallbacks_reinvest.go
  x/stakeibc/keeper/icacallbacks_reinvest_test.go
  x/stakeibc/keeper/icacallbacks_undelegate.go
  x/stakeibc/keeper/icacallbacks_undelegate_test.go
  x/stakeibc/keeper/msg_server_claim_undelegated_tokens.go
  x/stakeibc/keeper/msg_server_claim_undelegated_tokens_test.go
  x/stakeibc/keeper/msg_server_redeem_stake.go
  x/stakeibc/keeper/msg_server_redeem_stake_test.go
  x/stakeibc/keeper/msg_server_register_host_zone.go
  x/stakeibc/keeper/msg_server_register_host_zone_test.go
  x/stakeibc/keeper/msg_server_submit_tx.go
  x/stakeibc/keeper/unbonding_records.go
  x/stakeibc/keeper/unbonding_records_cleanup_test.go
  x/stakeibc/keeper/unbonding_records_get_host_zone_unbondings_msgs_test.go
  x/stakeibc/keeper/unbonding_records_initiate_all_unbondings_test.go
  x/stakeibc/keeper/unbonding_records_sweep_unbonded_tokens_test.go
  x/stakeibc/keeper/update_redemption_rates_test.go
Labels: C:epochs, C:stakeibc, C:records, C:docs, C:proto, A:automerge, dependencies, v2

#301 Dragonberry
  cmd/strided/config/config.go
  cmd/strided/root.go
  go.mod
  go.sum
  scripts/statesync.bash
  x/stakeibc/keeper/grpc_query_ica_account_test.go
Labels: C:stakeibc, T:build, C:CLI, A:automerge, dependencies

#304 collisions 🤔
  README.md
Labels: A:automerge

#305 Add Validator through Governance
  app/app.go
  cmd/strided/config/config.go
  go.mod
  go.sum
  proto/stakeibc/gov.proto
  proto/stakeibc/params.proto
  scripts-local/init_stride.sh
  scripts-local/vesting/README.md
  scripts-local/vesting/add_vesting_accts.sh
  scripts-local/vesting/vesting_accts.csv
  x/stakeibc/client/cli/tx.go
  x/stakeibc/client/cli/tx_add_validator.go
  x/stakeibc/client/cli/tx_add_validator_proposal.go
  x/stakeibc/client/cli/tx_delete_validator.go
  x/stakeibc/client/proposal_handler.go
  x/stakeibc/client/rest/tx.go
  x/stakeibc/handler.go
  x/stakeibc/keeper/gov.go
  x/stakeibc/keeper/host_zone.go
  x/stakeibc/keeper/keeper.go
  x/stakeibc/keeper/msg_server_add_validator.go
  x/stakeibc/keeper/msg_server_change_validator_weight.go
  x/stakeibc/keeper/msg_server_delete_validator_test.go
  x/stakeibc/proposal_handler.go
  x/stakeibc/types/codec.go
  x/stakeibc/types/errors.go
  x/stakeibc/types/gov.go
  x/stakeibc/types/gov.pb.go
  x/stakeibc/types/params.go
  x/stakeibc/types/params.pb.go
Labels: C:app-wiring, C:stakeibc, T:build, C:CLI, C:proto, dependencies, v2

#276 Validator Rebalancing
  docs/static/openapi.yml
  proto/stakeibc/callbacks.proto
  scripts-local/init_gaia.sh
  scripts-local/init_juno.sh
  scripts-local/init_osmo.sh
  scripts-local/start_network.sh
  scripts-local/vars.sh
  scripts/config/ica.json
  x/epochs/types/query.pb.gw.go
  x/icacallbacks/types/query.pb.gw.go
  x/interchainquery/types/messages.pb.gw.go
  x/mint/types/query.pb.gw.go
  x/records/types/query.pb.gw.go
  x/stakeibc/client/cli/tx_rebalance_validators.go
  x/stakeibc/keeper/icacallbacks.go
  x/stakeibc/keeper/icacallbacks_rebalance.go
  x/stakeibc/keeper/icacallbacks_rebalance_test.go
  x/stakeibc/keeper/msg_server_rebalance_validators.go
  x/stakeibc/keeper/msg_server_rebalance_validators_test.go
  x/stakeibc/keeper/validator_selection.go
  x/stakeibc/types/callbacks.pb.go
  x/stakeibc/types/message_rebalance_validators.go
  x/stakeibc/types/query.pb.gw.go
Labels: C:epochs, C:stakeibc, C:interchainquery, C:mint, C:records, T:build, C:CLI, C:proto, v2

#297 v2 upgrade
  app/app.go
  app/upgrades.go
  app/upgrades/README.md
  app/upgrades/v2/upgrades.go
  cmd/strided/config/config.go
  scripts/start_network.sh
  scripts/upgrades/Dockerfile.stride
  scripts/upgrades/README.md
Labels: C:app-wiring, T:build, C:CLI, v2

#294 add genesis.json to stride
  genesis/genesis.json
Labels: A:automerge

#310 Dockernet Admin Address Error Catch
  scripts/build.sh
Labels: T:build

#319 add pending tokens to RR calc
  x/stakeibc/keeper/hooks.go
Labels: C:stakeibc

#320 v2.0.3
  app/app.go
  cmd/strided/config/config.go
Labels: C:app-wiring, C:CLI
