Repository Stride-Labs/stride, pull requests merged in 2022-12, with the labels that each got.

#429 Epoch Logs - stride_epoch
  utils/utils.go
  x/interchainquery/keeper/keeper.go
  x/records/keeper/keeper.go
  x/stakeibc/keeper/deposit_records.go
  x/stakeibc/keeper/hooks.go
  x/stakeibc/keeper/host_zone.go
  x/stakeibc/keeper/keeper.go
  x/stakeibc/keeper/msg_server_submit_tx.go
  x/stakeibc/keeper/validator_selection.go
Labels: C:stakeibc, C:interchainquery, C:records, v4, cleanup

#407 Removed Testnet GH Actions
  .github/workflows/base_images.yml
  .github/workflows/testnet.yml
Labels: T:CI, cleanup

#393 v4 upgrade
  .golangci.yml
  CHANGELOG.md
  app/app.go
  app/apptesting/test_helpers.go
  app/upgrades.go
  app/upgrades/README.md
  app/upgrades/v3/upgrades_test.go
  app/upgrades/v4/README.md
  app/upgrades/v4/upgrades.go
  app/upgrades/v4/upgrades_test.go
  cmd/strided/config/config.go
  dockernet/src/init_chain.sh
  go.mod
  go.sum
Labels: C:app-wiring, T:CI, C:CLI, dependencies, v4

#447 IF-STRIDE-STAKEIBC-UPDATEDELEGATIONBALANCES fix
  x/stakeibc/keeper/icacallbacks_undelegate.go
  x/stakeibc/types/errors.go
Labels: C:stakeibc, A:automerge, v4

#446 IF-STRIDE-STAKEIBC-REDEEM_STAKE
  x/stakeibc/keeper/msg_server_redeem_stake.go
Labels: C:stakeibc, A:automerge, v4

#445 Epoch Logs Cleanup - Day Epoch Part 1
  utils/utils.go
  x/stakeibc/keeper/deposit_records.go
  x/stakeibc/keeper/hooks.go
  x/stakeibc/keeper/icqcallbacks_withdrawal_balance.go
  x/stakeibc/keeper/msg_server_rebalance_validators.go
  x/stakeibc/keeper/msg_server_submit_tx.go
  x/stakeibc/keeper/unbonding_records.go
  x/stakeibc/keeper/unbonding_records_sweep_unbonded_tokens_test.go
Labels: C:stakeibc, A:automerge, v4

#449 update CHANGELOG.md
  CHANGELOG.md
Labels: A:automerge, v4

#468 v4.0.2
  CHANGELOG.md
  app/app.go
  cmd/strided/config/config.go
Labels: C:app-wiring, C:CLI

#472 Added start-docker-all to Makefile
  Makefile
  dockernet/config.sh
  dockernet/start_network.sh
Labels: T:build

#490 [RATE-LIMIT]: RateLimit Helper Functions and Queries
  x/ratelimit/keeper/grpc_query.go
  x/ratelimit/keeper/rate_limit.go
  x/ratelimit/keeper/rate_limit_test.go
  x/ratelimit/types/keys.go
Labels: F:ibc-rate-limiting

#495 Add Query for Pending ICQs
  proto/stride/interchainquery/v1/query.proto
  x/interchainquery/README.md
  x/interchainquery/client/cli/query.go
  x/interchainquery/keeper/grpc_query.go
  x/interchainquery/module.go
  x/interchainquery/types/query.pb.go
  x/interchainquery/types/query.pb.gw.go
Labels: C:app-wiring, C:interchainquery, C:CLI, C:docs, C:proto

#497 v4.0.3
  CHANGELOG.md
  app/app.go
  cmd/strided/config/config.go
Labels: C:app-wiring, C:CLI, A:automerge

#453 golangci for tests
  .golangci.yml
Labels: T:CI

#514 chore: markdownlint . --fix
  x/README.md
  x/claim/README.md
  x/icacallbacks/README.md
  x/interchainquery/README.md
  x/mint/README.md
  x/records/README.md
  x/stakeibc/README.md
Labels: C:stakeibc, C:interchainquery, C:mint, C:records, C:docs

#518 Epoch Logs Cleanup - Day Epoch Pt. 2
  x/epochs/keeper/abci.go
  x/stakeibc/keeper/deposit_records.go
  x/stakeibc/keeper/hooks.go
  x/stakeibc/keeper/host_zone.go
  x/stakeibc/keeper/icacallbacks_delegate.go
  x/stakeibc/keeper/icacallbacks_undelegate.go
  x/stakeibc/keeper/icqcallbacks_delegator_shares.go
  x/stakeibc/keeper/icqcallbacks_withdrawal_balance.go
  x/stakeibc/keeper/msg_server_redeem_stake.go
  x/stakeibc/keeper/msg_server_redeem_stake_test.go
  x/stakeibc/keeper/msg_server_register_host_zone.go
  x/stakeibc/keeper/unbonding_records.go
  x/stakeibc/keeper/update_redemption_rates_test.go
  x/stakeibc/keeper/validator_selection.go
  x/stakeibc/types/message_redeem_stake.go
Labels: C:epochs, C:stakeibc, v5

#519 SetupConfig function for Unit Tests
  app/apptesting/test_helpers.go
  app/test_setup.go
Labels: C:app-wiring, A:automerge

#534 [RATE-LIMIT] Unit Tests for Packet Callback Functions
  proto/stride/ratelimit/ratelimit.proto
  proto/stride/ratelimit/tx.proto
  x/ratelimit/client/cli/cli_test.go
  x/ratelimit/client/cli/tx.go
  x/ratelimit/genesis_test.go
  x/ratelimit/ibc_module.go
  x/ratelimit/keeper/hooks_test.go
  x/ratelimit/keeper/msg_server.go
  x/ratelimit/keeper/msg_server_test.go
  x/ratelimit/keeper/rate_limit.go
  x/ratelimit/keeper/rate_limit_test.go
  x/ratelimit/rate_limit.go
  x/ratelimit/rate_limit_test.go
  x/ratelimit/types/flow.go
  x/ratelimit/types/flow_test.go
  x/ratelimit/types/genesis.pb.go
  x/ratelimit/types/message_add_rate_limit.go
  x/ratelimit/types/message_add_rate_limit_test.go
  x/ratelimit/types/message_update_rate_limit.go
  x/ratelimit/types/message_update_rate_limit_test.go
  x/ratelimit/types/query.pb.go
  x/ratelimit/types/query.pb.gw.go
  x/ratelimit/types/quota.go
  x/ratelimit/types/quota_test.go
  x/ratelimit/types/ratelimit.pb.go
  x/ratelimit/types/tx.pb.go
  x/stakeibc/client/cli/tx_liquid_stake.go
Labels: C:stakeibc, C:CLI, C:proto

#523 Callbacks Logs Cleanup - Pt 1
  dockernet/config.sh
  utils/utils.go
  x/records/keeper/epoch_unbonding_record.go
  x/stakeibc/keeper/host_zone.go
  x/stakeibc/keeper/icacallbacks_delegate.go
  x/stakeibc/keeper/icacallbacks_redemption.go
  x/stakeibc/keeper/icacallbacks_undelegate.go
  x/stakeibc/keeper/icacallbacks_undelegate_test.go
Labels: C:stakeibc, C:records, T:build, A:automerge, v5

#461 remove uneeded casting, refractor transfer from mint
  x/stakeibc/keeper/host_zone.go
  x/stakeibc/keeper/msg_server_liquid_stake.go
Labels: enhancement, notional

#535 [RATE-LIMIT] Query Rate Limits by ChainID
  app/app.go
  proto/stride/ratelimit/query.proto
  proto/stride/ratelimit/ratelimit.proto
  x/ratelimit/client/cli/cli_test.go
  x/ratelimit/client/cli/query.go
  x/ratelimit/keeper/grpc_query.go
  x/ratelimit/keeper/grpc_query_test.go
  x/ratelimit/keeper/hooks_test.go
  x/ratelimit/keeper/keeper.go
  x/ratelimit/keeper/keeper_test.go
  x/ratelimit/keeper/msg_server.go
  x/ratelimit/keeper/msg_server_test.go
  x/ratelimit/keeper/rate_limit_test.go
  x/ratelimit/types/errors.go
  x/ratelimit/types/flow.go
  x/ratelimit/types/query.pb.go
  x/ratelimit/types/query.pb.gw.go
  x/ratelimit/types/ratelimit.pb.go
Labels: C:app-wiring, C:CLI, C:proto

#456 remove ignite cli replace
  go.mod
Labels: dependencies
