Repository Stride-Labs/stride, pull requests merged in 2022-08, with the labels that each got.

#138 UNB-01 | Incorrect `if` Condition
  x/stakeibc/keeper/unbonding_records.go
Labels: C:stakeibc, A:automerge

#152 Add attributions and licenses
  app/encoding.go
  proto/stakeibc/README.md
  scripts/LICENSES/OSMO_LICENSE
  scripts/LICENSES/QUICK_LICENSE
  scripts/LICENSES/README.md
Labels: C:app-wiring, C:proto

#102 Certik july week1
  x/stakeibc/keeper/callbacks.go
  x/stakeibc/keeper/hooks.go
  x/stakeibc/keeper/msg_server_redeem_stake.go
  x/stakeibc/keeper/msg_server_register_host_zone.go
  x/stakeibc/keeper/msg_server_register_ica.go
  x/stakeibc/keeper/msg_server_submit_tx.go
  x/stakeibc/types/message_register_host_zone.go
Labels: C:stakeibc

#137 IBC-01
  x/stakeibc/keeper/ibc_handlers.go
Labels: C:stakeibc

#157 Fix CounterParty ChainID bug
  x/stakeibc/module_ibc.go
Labels: C:stakeibc

#135 x/interchainquery/ README.md
  x/epochs/README.md
  x/interchainquery/README.md
Labels: C:epochs, C:interchainquery, C:docs

#153 TEST-25: Mint params updated
  x/mint/types/params.go
Labels: C:mint

#159 minor changes to readme from prev
  x/epochs/README.md
  x/interchainquery/README.md
Labels: C:epochs, C:interchainquery, C:docs

#125 Vesting
  scripts-local/init_stride.sh
  scripts-local/vesting/README.md
  scripts-local/vesting/add_vesting_accts.sh
  scripts-local/vesting/vesting_accts.csv
Labels: T:build

#142 HOS-02 : registerHostZone duplicate denom check
  x/stakeibc/keeper/msg_server_register_host_zone.go
Labels: C:stakeibc

#139 HOS-01 | Lack of Sanity Check - Remove Validator
  x/stakeibc/keeper/host_zone.go
  x/stakeibc/keeper/msg_server_delete_validator.go
  x/stakeibc/keeper/validator_selection.go
  x/stakeibc/types/errors.go
Labels: C:stakeibc, A:automerge

#165 update gosec
  .github/workflows/gosec.yml
  app/app.go
Labels: C:app-wiring, T:CI

#167 add logging to epoch hooks
  x/stakeibc/keeper/hooks.go
  x/stakeibc/keeper/msg_server_rebalance_validators.go
  x/stakeibc/keeper/msg_server_submit_tx.go
  x/stakeibc/keeper/unbonding_records.go
Labels: C:stakeibc

#168 Error Logs Incorrectly Labeled
  x/stakeibc/keeper/ibc_handlers.go
  x/stakeibc/keeper/msg_server_add_validator.go
  x/stakeibc/keeper/unbonding_records.go
Labels: C:stakeibc

#173 added upgrade handler
  app/upgrades.go
  app/upgrades/v2/upgrades.go
  scripts-local/start_upgrade.sh
  scripts-local/upgrades/README.md
  scripts-local/upgrades/submit_upgrade.sh
Labels: C:app-wiring, T:build

#146 add icacallbacks module
  app/app.go
  docs/static/openapi.yml
  go.mod
  go.sum
  proto/icacallbacks/callback_data.proto
  proto/icacallbacks/genesis.proto
  proto/icacallbacks/packet.proto
  proto/icacallbacks/params.proto
  proto/icacallbacks/query.proto
  proto/icacallbacks/tx.proto
  scripts-local/test-utils/run_any_cli_command.sh
  testutil/keeper/icacallbacks.go
  x/icacallbacks/client/cli/query.go
  x/icacallbacks/client/cli/query_callback_data.go
  x/icacallbacks/client/cli/query_callback_data_test.go
  x/icacallbacks/client/cli/query_params.go
  x/icacallbacks/client/cli/tx.go
  x/icacallbacks/genesis.go
  x/icacallbacks/genesis_test.go
  x/icacallbacks/handler.go
  x/icacallbacks/keeper/callback_data.go
  x/icacallbacks/keeper/callback_data_test.go
  x/icacallbacks/keeper/grpc_query.go
  x/icacallbacks/keeper/grpc_query_callback_data.go
  x/icacallbacks/keeper/grpc_query_callback_data_test.go
  x/icacallbacks/keeper/grpc_query_params.go
  x/icacallbacks/keeper/grpc_query_params_test.go
  x/icacallbacks/keeper/keeper.go
  x/icacallbacks/keeper/msg_server.go
  x/icacallbacks/keeper/params.go
  x/icacallbacks/keeper/params_test.go
  x/icacallbacks/module.go
  x/icacallbacks/module_ibc.go
  x/icacallbacks/module_simulation.go
  x/icacallbacks/simulation/simap.go
  x/icacallbacks/types/callback_data.pb.go
  x/icacallbacks/types/callbacks.go
  x/icacallbacks/types/codec.go
  x/icacallbacks/types/errors.go
  x/icacallbacks/types/events_ibc.go
  x/icacallbacks/types/expected_keepers.go
  x/icacallbacks/types/genesis.go
  x/icacallbacks/types/genesis.pb.go
  x/icacallbacks/types/genesis_test.go
  x/icacallbacks/types/key_callback_data.go
  x/icacallbacks/types/keys.go
  x/icacallbacks/types/packet.pb.go
  x/icacallbacks/types/params.go
  x/icacallbacks/types/params.pb.go
  x/icacallbacks/types/query.pb.go
  x/icacallbacks/types/query.pb.gw.go
  x/icacallbacks/types/tx.pb.go
  x/icacallbacks/types/types.go
  x/records/keeper/keeper.go
  x/stakeibc/keeper/icacallbacks.go
  x/stakeibc/keeper/keeper.go
  x/stakeibc/keeper/msg_server_submit_tx.go
  x/stakeibc/module_ibc.go
Labels: C:app-wiring, C:simulator, C:stakeibc, C:records, C:CLI, C:proto, C:test, dependencies

#136 IBC-02 | Missing Important Validation Step
  x/stakeibc/keeper/ibc_handlers.go
Labels: C:stakeibc, A:automerge

#164 Revert "Revert "HOS-01 | Lack of Sanity Check - Remove Validator""
  x/stakeibc/keeper/host_zone.go
  x/stakeibc/keeper/msg_server_delete_validator.go
  x/stakeibc/keeper/validator_selection.go
  x/stakeibc/types/errors.go
Labels: C:stakeibc

#170 certik 8.9.22
  x/interchainquery/keeper/abci.go
  x/records/genesis.go
  x/records/keeper/deposit_record.go
Labels: C:interchainquery, C:records

#145 Certik severity informational
  app/app.go
  cmd/strided/root.go
  x/interchainquery/keeper/keeper.go
  x/interchainquery/types/msgs.go
  x/records/keeper/deposit_record.go
  x/records/keeper/epoch_unbonding_record.go
  x/records/keeper/user_redemption_record.go
  x/records/types/errors.go
  x/stakeibc/abci.go
  x/stakeibc/keeper/callbacks.go
  x/stakeibc/keeper/hooks.go
  x/stakeibc/keeper/host_zone.go
  x/stakeibc/keeper/ibc_handlers.go
  x/stakeibc/keeper/msg_server_rebalance_validators.go
  x/stakeibc/keeper/msg_server_redeem_stake.go
  x/stakeibc/keeper/msg_server_register_host_zone.go
  x/stakeibc/keeper/msg_server_register_ica.go
  x/stakeibc/keeper/msg_server_submit_tx.go
  x/stakeibc/keeper/unbonding_records.go
  x/stakeibc/keeper/validator_selection.go
  x/stakeibc/types/errors.go
  x/stakeibc/types/expected_keepers.go
  x/stakeibc/types/message_claim_undelegated_tokens.go
  x/stakeibc/types/message_liquid_stake.go
  x/stakeibc/types/message_redeem_stake.go
  x/stakeibc/types/message_submit_tx.go
Labels: C:app-wiring, C:stakeibc, C:interchainquery, C:records, C:CLI

#169 add MsgDelegate ica callback
  go.mod
  go.sum
  proto/stakeibc/callbacks.proto
  x/icacallbacks/client/cli/tx.go
  x/icacallbacks/keeper/keeper.go
  x/icacallbacks/types/callbacks.go
  x/stakeibc/keeper/callbacks.go
  x/stakeibc/keeper/hooks.go
  x/stakeibc/keeper/ibc_handlers.go
  x/stakeibc/keeper/icacallbacks.go
  x/stakeibc/keeper/msg_server_claim_undelegated_tokens.go
  x/stakeibc/keeper/msg_server_rebalance_validators.go
  x/stakeibc/keeper/msg_server_submit_tx.go
  x/stakeibc/module_ibc.go
  x/stakeibc/types/callbacks.pb.go
Labels: C:stakeibc, C:CLI, C:proto, A:automerge, dependencies

#184 Update pull_request_template.md
  pull_request_template.md
Labels: A:automerge

#178 use sprintf to fix error messages
  x/icacallbacks/keeper/keeper.go
  x/interchainquery/keeper/abci.go
  x/interchainquery/keeper/msg_server.go
  x/records/module_ibc.go
  x/stakeibc/keeper/callbacks.go
  x/stakeibc/keeper/hooks.go
  x/stakeibc/keeper/ibc_handlers.go
  x/stakeibc/keeper/msg_server_liquid_stake.go
  x/stakeibc/keeper/msg_server_register_host_zone.go
  x/stakeibc/keeper/msg_server_submit_tx.go
  x/stakeibc/module_ibc.go
Labels: C:stakeibc, C:interchainquery, C:records, A:automerge

#183 Safe casting and uint proto cleanup
  cmd/strided/root.go
  go.mod
  go.sum
  proto/records/genesis.proto
  proto/stakeibc/epoch_tracker.proto
  proto/stakeibc/host_zone.proto
  proto/stakeibc/ica_account.proto
  proto/stakeibc/tx.proto
  x/epochs/client/cli/query.go
  x/interchainquery/keeper/abci.go
  x/interchainquery/keeper/keeper.go
  x/interchainquery/keeper/msg_server.go
  x/records/types/genesis.pb.go
  x/stakeibc/client/cli/tx_redeem_stake.go
  x/stakeibc/keeper/callbacks.go
  x/stakeibc/keeper/hooks.go
  x/stakeibc/keeper/host_zone.go
  x/stakeibc/keeper/icacallbacks.go
  x/stakeibc/keeper/icacallbacks_undelegate.go
  x/stakeibc/keeper/msg_server_claim_undelegated_tokens.go
  x/stakeibc/keeper/msg_server_liquid_stake.go
  x/stakeibc/keeper/msg_server_redeem_stake.go
  x/stakeibc/keeper/msg_server_redeem_stake_test.go
  x/stakeibc/keeper/msg_server_submit_tx.go
  x/stakeibc/keeper/unbonding_records.go
  x/stakeibc/keeper/validator_selection.go
  x/stakeibc/types/epoch_tracker.pb.go
  x/stakeibc/types/errors.go
  x/stakeibc/types/host_zone.pb.go
  x/stakeibc/types/ica_account.pb.go
  x/stakeibc/types/message_redeem_stake.go
  x/stakeibc/types/tx.pb.go
Labels: C:epochs, C:stakeibc, C:interchainquery, C:records, C:CLI, C:proto, A:automerge, dependencies, poolparty-v3

#192 Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
Labels: A:automerge

#191 Update README.md
  x/README.md
Labels: C:docs, A:automerge

#188 migrate HostZoneUnbondings from Map -> List data type
  proto/records/genesis.proto
  proto/stakeibc/callbacks.proto
  scripts-local/create_logs.sh
  x/icacallbacks/keeper/keeper.go
  x/records/keeper/epoch_unbonding_record.go
  x/records/types/genesis.pb.go
  x/stakeibc/keeper/callbacks.go
  x/stakeibc/keeper/host_zone.go
  x/stakeibc/keeper/ibc_handlers.go
  x/stakeibc/keeper/icacallbacks.go
  x/stakeibc/keeper/icacallbacks_undelegate.go
  x/stakeibc/keeper/msg_server_redeem_stake.go
  x/stakeibc/keeper/msg_server_redeem_stake_test.go
  x/stakeibc/keeper/msg_server_register_host_zone.go
  x/stakeibc/keeper/msg_server_submit_tx.go
  x/stakeibc/keeper/unbonding_records.go
  x/stakeibc/types/callbacks.pb.go
Labels: C:stakeibc, C:records, T:build, C:proto, A:automerge, poolparty-v3

#172 add claim callback, remove pending claims
  proto/stakeibc/callbacks.proto
  proto/stakeibc/genesis.proto
  proto/stakeibc/query.proto
  scripts-local/test-utils/run_any_cli_command.sh
  x/icacallbacks/keeper/keeper.go
  x/stakeibc/client/cli/query.go
  x/stakeibc/client/cli/query_pending_claims.go
  x/stakeibc/client/cli/query_pending_claims_test.go
  x/stakeibc/genesis.go
  x/stakeibc/keeper/grpc_query_pending_claims.go
  x/stakeibc/keeper/grpc_query_pending_claims_test.go
  x/stakeibc/keeper/ibc_handlers.go
  x/stakeibc/keeper/icacallbacks.go
  x/stakeibc/keeper/icacallbacks_claim.go
  x/stakeibc/keeper/icacallbacks_delegate.go
  x/stakeibc/keeper/icacallbacks_reinvest.go
  x/stakeibc/keeper/msg_server_claim_undelegated_tokens.go
  x/stakeibc/keeper/msg_server_claim_undelegated_tokens_test.go
  x/stakeibc/keeper/pending_claims.go
  x/stakeibc/keeper/pending_claims_test.go
  x/stakeibc/types/callbacks.pb.go
  x/stakeibc/types/genesis.go
  x/stakeibc/types/genesis.pb.go
  x/stakeibc/types/genesis_test.go
  x/stakeibc/types/key_pending_claims.go
  x/stakeibc/types/query.pb.go
  x/stakeibc/types/query.pb.gw.go
Labels: C:stakeibc, C:CLI, C:proto, poolparty-v3

#162 ICQ Slashing
  docs/static/openapi.yml
  proto/stakeibc/tx.proto
  proto/stakeibc/validator.proto
  scripts-local/icq_startup.sh
  scripts-local/init_gaia.sh
  scripts-local/register_host.sh
  scripts-local/test-utils/1.sh
  scripts-local/tests/integration_tests.bats
  x/interchainquery/types/keys.go
  x/stakeibc/client/cli/tx.go
  x/stakeibc/client/cli/tx_update_delegation.go
  x/stakeibc/handler.go
  x/stakeibc/keeper/callbacks.go
  x/stakeibc/keeper/icacallbacks.go
  x/stakeibc/keeper/keeper.go
  x/stakeibc/keeper/msg_server_submit_tx.go
  x/stakeibc/keeper/msg_server_update_validator_shares_exch_rate.go
  x/stakeibc/module_simulation.go
  x/stakeibc/simulation/update_delegation.go
  x/stakeibc/types/codec.go
  x/stakeibc/types/errors.go
  x/stakeibc/types/message_update_delegation.go
  x/stakeibc/types/params.go
  x/stakeibc/types/tx.pb.go
  x/stakeibc/types/validator.pb.go
Labels: C:simulator, C:stakeibc, C:interchainquery, T:build, C:CLI, C:proto, poolparty-v3

#194 Fixed Acknowledgement Error Catching
  x/stakeibc/keeper/host_zone.go
  x/stakeibc/module_ibc.go
Labels: C:stakeibc

#190 Icacallbacks Redemption
  .gitmodules
  proto/records/genesis.proto
  proto/stakeibc/callbacks.proto
  scripts-local/icq/config.yaml
  scripts-local/init_relayers.sh
  scripts-local/tests/juno_tests.bats
  x/icacallbacks/keeper/keeper.go
  x/icacallbacks/types/callbacks.go
  x/icacallbacks/types/errors.go
  x/interchainquery/keeper/msg_server.go
  x/records/types/genesis.pb.go
  x/stakeibc/keeper/callbacks.go
  x/stakeibc/keeper/hooks.go
  x/stakeibc/keeper/ibc_handlers.go
  x/stakeibc/keeper/icacallbacks.go
  x/stakeibc/keeper/icacallbacks_claim.go
  x/stakeibc/keeper/icacallbacks_delegate.go
  x/stakeibc/keeper/icacallbacks_redemption.go
  x/stakeibc/keeper/icacallbacks_reinvest.go
  x/stakeibc/keeper/icacallbacks_undelegate.go
  x/stakeibc/keeper/msg_server_claim_undelegated_tokens.go
  x/stakeibc/keeper/unbonding_records.go
  x/stakeibc/module_ibc.go
  x/stakeibc/types/callbacks.pb.go
Labels: C:stakeibc, C:interchainquery, C:records, T:build, C:proto, poolparty-v3

#197 add fees
  proto/stakeibc/host_zone.proto
  proto/stakeibc/ica_account.proto
  proto/stakeibc/params.proto
  proto/stakeibc/tx.proto
  scripts-local/init_gaia.sh
  scripts-local/test-utils/run_any_cli_command.sh
  x/stakeibc/client/cli/tx.go
  x/stakeibc/client/cli/tx_clear_balance.go
  x/stakeibc/handler.go
  x/stakeibc/keeper/callbacks.go
  x/stakeibc/keeper/msg_server_clear_balance.go
  x/stakeibc/types/codec.go
  x/stakeibc/types/errors.go
  x/stakeibc/types/ica_account.pb.go
  x/stakeibc/types/keys.go
  x/stakeibc/types/message_clear_balance.go
  x/stakeibc/types/params.go
  x/stakeibc/types/params.pb.go
  x/stakeibc/types/tx.pb.go
Labels: C:stakeibc, T:build, C:CLI, C:proto

#200 minor bug fixes for multiple host zones
  go.mod
  go.sum
  x/interchainquery/keeper/msg_server.go
  x/mint/types/params.go
  x/stakeibc/keeper/callbacks.go
  x/stakeibc/keeper/hooks.go
  x/stakeibc/keeper/msg_server_rebalance_validators.go
  x/stakeibc/keeper/msg_server_submit_tx.go
  x/stakeibc/keeper/unbonding_records.go
Labels: C:stakeibc, C:interchainquery, C:mint, dependencies

#199 Removed Outdated Upgrade Code
  app/upgrades.go
  app/upgrades/README.md
  app/upgrades/v2/upgrades.go
  x/icacallbacks/module.go
  x/records/keeper/migrations.go
  x/records/migrations/v1/types/genesis.pb.go
  x/records/migrations/v1/types/params.go
  x/records/migrations/v2/migrations.go
  x/records/module.go
Labels: C:app-wiring, C:records

#201 integration tests v2
  scripts-local/icq_startup.sh
  scripts-local/start_network.sh
  scripts-local/tests/gaia_tests.bats
  scripts-local/tests/juno_tests.bats
  scripts-local/tests/osmo_tests.bats
  scripts-local/tests/run_all_tests.sh
  scripts-local/vars.sh
  x/records/module_ibc.go
  x/stakeibc/keeper/icacallbacks_claim.go
  x/stakeibc/keeper/icacallbacks_delegate.go
  x/stakeibc/keeper/icacallbacks_redemption.go
  x/stakeibc/keeper/msg_server_liquid_stake.go
Labels: C:stakeibc, C:records, T:build, poolparty-v3

#203 Poolparty v3
  .github/workflows/testnet.yml
  scripts/testnet/infra/main.tf
  scripts/testnet/infra/terraform.tfstate
  scripts/testnet/infra/terraform.tfstate.backup
  scripts/testnet/setup_stride_state.sh
  scripts/testnet/testnet_vars.sh
  scripts/testnet/tests/verify_testnet_gaia.sh
  scripts/testnet/tests/verify_testnet_stride.sh
  x/stakeibc/keeper/unbonding_records.go
Labels: C:stakeibc, T:CI

#210 Invariant rr
  app/app.go
  x/stakeibc/keeper/invariants.go
  x/stakeibc/module.go
Labels: C:app-wiring, C:stakeibc, A:automerge

#214 Added consensus version to upgrade readme
  app/upgrades/README.md
Labels: C:app-wiring

#208 Aug oak fixes
  utils/utils.go
  x/epochs/genesis.go
  x/epochs/keeper/abci.go
  x/epochs/types/genesis.go
  x/interchainquery/keeper/abci.go
  x/mint/types/params.go
  x/stakeibc/keeper/host_zone.go
  x/stakeibc/keeper/keeper.go
  x/stakeibc/keeper/msg_server_rebalance_validators.go
  x/stakeibc/keeper/msg_server_redeem_stake.go
  x/stakeibc/keeper/msg_server_register_host_zone.go
  x/stakeibc/types/genesis.go
  x/stakeibc/types/message_add_validator.go
  x/stakeibc/types/message_liquid_stake.go
  x/stakeibc/types/message_register_host_zone.go
Labels: C:epochs, C:stakeibc, C:interchainquery, C:mint

#209 UNIT TEST: update redemption rate
  x/stakeibc/keeper/update_redemption_rates_test.go
Labels: C:stakeibc

#204 Icq ttl
  x/interchainquery/keeper/abci.go
  x/interchainquery/keeper/keeper.go
  x/interchainquery/keeper/msg_server.go
  x/stakeibc/keeper/keeper.go
  x/stakeibc/keeper/msg_server_submit_tx.go
Labels: C:stakeibc, C:interchainquery

#217 Fix integration tests 8 23
  scripts-local/icq_startup.sh
  x/stakeibc/keeper/keeper.go
  x/stakeibc/keeper/msg_server_register_host_zone.go
Labels: bug, C:stakeibc, T:build

#222 [SAFETY] redemption rate within safety thresholds
  go.mod
  go.sum
  proto/stakeibc/params.proto
  x/stakeibc/keeper/keeper.go
  x/stakeibc/keeper/msg_server_liquid_stake.go
  x/stakeibc/keeper/msg_server_liquid_stake_test.go
  x/stakeibc/keeper/msg_server_redeem_stake.go
  x/stakeibc/keeper/msg_server_redeem_stake_test.go
  x/stakeibc/keeper/msg_server_submit_tx.go
  x/stakeibc/types/errors.go
  x/stakeibc/types/params.go
  x/stakeibc/types/params.pb.go
Labels: C:stakeibc, C:proto, dependencies

#221 [SAFETY] set cap number of deposit records to be staked per epoch
  proto/stakeibc/params.proto
  scripts-local/test-utils/submit_many_small_liq_stakes.sh
  x/stakeibc/keeper/hooks.go
  x/stakeibc/types/params.go
  x/stakeibc/types/params.pb.go
Labels: C:stakeibc, C:proto

#220 [UNIT TEST] New Query
  x/interchainquery/keeper/keeper_test.go
  x/interchainquery/keeper/new_query_test.go
  x/interchainquery/keeper/queries.go
Labels: C:interchainquery

#226 [UNIT-TESTS] IBC Testing
  app/apptesting/README.md
  app/apptesting/test_helpers.go
  app/test_setup.go
  testutil/keeper/epochs.go
  testutil/keeper/icacallbacks.go
  testutil/keeper/interchainquery.go
  testutil/keeper/records.go
  testutil/keeper/stakeibc.go
  x/epochs/keeper/abci_test.go
  x/epochs/keeper/epoch_test.go
  x/epochs/keeper/grpc_query_test.go
  x/interchainquery/keeper/keeper_test.go
  x/interchainquery/keeper/new_query_test.go
  x/stakeibc/keeper/grpc_query_ica_account_test.go
  x/stakeibc/keeper/ica_account_test.go
  x/stakeibc/keeper/keeper_test.go
  x/stakeibc/keeper/msg_server_add_validator_test.go
  x/stakeibc/keeper/msg_server_claim_undelegated_tokens_test.go
  x/stakeibc/keeper/msg_server_delete_validator_test.go
  x/stakeibc/keeper/msg_server_liquid_stake_test.go
  x/stakeibc/keeper/msg_server_redeem_stake_test.go
  x/stakeibc/keeper/update_redemption_rates_test.go
Labels: C:app-wiring, C:epochs, C:stakeibc, C:interchainquery, C:test

#229 add delegate callback unittest
  app/apptesting/test_helpers.go
  pull_request_template.md
  x/stakeibc/keeper/icacallbacks_delegate_test.go
Labels: C:app-wiring, C:stakeibc

#218 Testnet upgrade support
  app/upgrades/README.md
  scripts/testnet/dockerfiles/Dockerfile.stride
  scripts/testnet/upgrade.sh
Labels: C:app-wiring

#224 remove SubmitTx
  proto/stakeibc/tx.proto
  x/stakeibc/client/cli/tx.go
  x/stakeibc/client/cli/tx_submit_tx.go
  x/stakeibc/handler.go
  x/stakeibc/keeper/msg_server_submit_tx.go
  x/stakeibc/types/codec.go
  x/stakeibc/types/message_submit_tx.go
  x/stakeibc/types/tx.pb.go
Labels: C:stakeibc, C:CLI, C:proto

#230 add reinvest callback unittest
  x/stakeibc/keeper/icacallbacks_delegate_test.go
  x/stakeibc/keeper/icacallbacks_reinvest.go
  x/stakeibc/keeper/icacallbacks_reinvest_test.go
Labels: C:stakeibc

#227 remove RegisterAccount
  go.mod
  go.sum
  proto/stakeibc/tx.proto
  x/stakeibc/client/cli/tx.go
  x/stakeibc/client/cli/tx_register_ica.go
  x/stakeibc/handler.go
  x/stakeibc/keeper/msg_server_register_ica.go
  x/stakeibc/types/codec.go
  x/stakeibc/types/message_register_ica.go
  x/stakeibc/types/tx.pb.go
Labels: C:stakeibc, C:CLI, C:proto, dependencies

#232 add redemption callback unittest
  proto/stakeibc/callbacks.proto
  x/stakeibc/keeper/icacallbacks_redemption.go
  x/stakeibc/keeper/icacallbacks_redemption_test.go
  x/stakeibc/keeper/unbonding_records.go
  x/stakeibc/types/callbacks.pb.go
Labels: C:stakeibc, C:proto

#231 [UNIT-TEST] Deposit Records
  app/apptesting/test_helpers.go
  x/records/keeper/keeper.go
  x/stakeibc/keeper/deposit_records.go
  x/stakeibc/keeper/deposit_records_test.go
  x/stakeibc/keeper/hooks.go
  x/stakeibc/keeper/icacallbacks_delegate_test.go
  x/stakeibc/keeper/icacallbacks_redemption_test.go
  x/stakeibc/keeper/icacallbacks_reinvest_test.go
  x/stakeibc/keeper/keeper_test.go
  x/stakeibc/keeper/msg_server_add_validator_test.go
  x/stakeibc/keeper/msg_server_claim_undelegated_tokens_test.go
  x/stakeibc/keeper/msg_server_delete_validator_test.go
  x/stakeibc/keeper/msg_server_liquid_stake_test.go
  x/stakeibc/keeper/msg_server_redeem_stake_test.go
  x/stakeibc/keeper/msg_server_submit_tx.go
  x/stakeibc/keeper/update_redemption_rates_test.go
Labels: C:app-wiring, C:stakeibc, C:records

#237 add ibc transfer callback unittest
  app/apptesting/test_helpers.go
  x/records/keeper/callback_transfer.go
  x/records/keeper/callback_transfer_test.go
  x/records/keeper/keeper_test.go
Labels: C:app-wiring, C:records

#235 add claim callback unittest
  x/stakeibc/keeper/icacallbacks_claim.go
  x/stakeibc/keeper/icacallbacks_claim_test.go
Labels: C:stakeibc

#234 add undelegate callback unittest
  app/apptesting/test_helpers.go
  x/stakeibc/keeper/icacallbacks_claim_test.go
  x/stakeibc/keeper/icacallbacks_delegate_test.go
  x/stakeibc/keeper/icacallbacks_redemption_test.go
  x/stakeibc/keeper/icacallbacks_reinvest_test.go
  x/stakeibc/keeper/icacallbacks_undelegate.go
  x/stakeibc/keeper/icacallbacks_undelegate_test.go
  x/stakeibc/types/errors.go
Labels: C:app-wiring, C:stakeibc

#216 UNIT TEST send host zone unbondings
  x/stakeibc/keeper/send_host_zone_unbondings_test.go
  x/stakeibc/keeper/unbonding_records.go
  x/stakeibc/keeper/validator_selection.go
Labels: C:stakeibc

#243 [UNIT TEST] get light client safely (time and height)
  go.mod
  go.sum
  x/stakeibc/keeper/deposit_records.go
  x/stakeibc/keeper/get_light_client_safely_test.go
  x/stakeibc/keeper/hooks.go
  x/stakeibc/keeper/msg_server_submit_tx.go
  x/stakeibc/keeper/unbonding_records.go
Labels: C:stakeibc, dependencies

#239 [UNIT-TEST] Withdrawal Balance Callback
  x/interchainquery/keeper/msg_server.go
  x/stakeibc/keeper/callbacks.go
  x/stakeibc/keeper/icqcallbacks_withdrawal_balance_test.go
  x/stakeibc/types/errors.go
Labels: C:stakeibc, C:interchainquery

#252 Withdrawal Balance Callback Empty Query Response
  x/stakeibc/keeper/callbacks.go
  x/stakeibc/keeper/icqcallbacks_withdrawal_balance_test.go
Labels: C:stakeibc

#240 [UNIT-TEST] Validator Exchange Rate Callback
  x/stakeibc/keeper/callbacks.go
  x/stakeibc/keeper/icqcallbacks_validator_exchange_rate_test.go
  x/stakeibc/keeper/msg_server_submit_tx.go
  x/stakeibc/keeper/validator.go
  x/stakeibc/types/errors.go
Labels: C:stakeibc

#242 Transfer cb test
  app/apptesting/test_helpers.go
  x/records/keeper/callback_transfer.go
  x/records/keeper/callback_transfer_test.go
  x/records/keeper/keeper_test.go
  x/records/types/errors.go
Labels: C:app-wiring, C:records

#245 use blocktime to compute ibc transfer timeouts
  proto/stakeibc/params.proto
  x/stakeibc/keeper/deposit_records.go
  x/stakeibc/keeper/deposit_records_test.go
  x/stakeibc/types/params.go
  x/stakeibc/types/params.pb.go
Labels: C:stakeibc, C:proto

#248 add clear balance unittest
  x/stakeibc/keeper/msg_server_clear_balance_test.go
Labels: C:stakeibc

#247 [UNIT-TEST] Delegator Shares ICQ Callback & Update Delegation
  x/stakeibc/keeper/callbacks.go
  x/stakeibc/keeper/icqcallbacks_delegator_shares_test.go
  x/stakeibc/keeper/icqcallbacks_validator_exchange_rate_test.go
  x/stakeibc/keeper/keeper_test.go
  x/stakeibc/keeper/msg_server_submit_tx.go
  x/stakeibc/keeper/update_validator_shares_exch_rate_test.go
  x/stakeibc/types/errors.go
Labels: C:stakeibc

#251 [UNIT-TEST] Epoch Elapsed Shares
  x/stakeibc/keeper/epoch_elapsed_shares_test.go
  x/stakeibc/keeper/icacallbacks_delegate_test.go
  x/stakeibc/keeper/icacallbacks_undelegate_test.go
  x/stakeibc/keeper/icqcallbacks_delegator_shares_test.go
  x/stakeibc/keeper/icqcallbacks_validator_exchange_rate_test.go
  x/stakeibc/keeper/keeper.go
  x/stakeibc/types/errors.go
Labels: C:stakeibc
