Repository Stride-Labs/stride, pull requests merged in 2022-09, with the labels that each got.

#249 make claims more efficient
  go.mod
  go.sum
  proto/records/genesis.proto
  proto/stakeibc/callbacks.proto
  scripts-local/tests/gaia_tests.bats
  scripts-local/tests/juno_tests.bats
  scripts-local/tests/osmo_tests.bats
  x/records/keeper/epoch_unbonding_record.go
  x/records/keeper/epoch_unbonding_record_test.go
  x/records/types/genesis.pb.go
  x/stakeibc/keeper/hooks.go
  x/stakeibc/keeper/icacallbacks_claim.go
  x/stakeibc/keeper/icacallbacks_claim_test.go
  x/stakeibc/keeper/icacallbacks_redemption.go
  x/stakeibc/keeper/icacallbacks_redemption_test.go
  x/stakeibc/keeper/msg_server_claim_undelegated_tokens.go
  x/stakeibc/keeper/msg_server_claim_undelegated_tokens_test.go
  x/stakeibc/keeper/msg_server_redeem_stake.go
  x/stakeibc/keeper/msg_server_redeem_stake_test.go
  x/stakeibc/keeper/unbonding_records.go
  x/stakeibc/types/callbacks.pb.go
Labels: C:stakeibc, C:records, C:proto, dependencies

#236 set x/mint rewards to the right numbers and allocate them to the right places
  app/app.go
  cmd/strided/config/config.go
  cmd/strided/main.go
  proto/mint/v1beta1/mint.proto
  scripts-local/init_stride.sh
  scripts-local/start_network.sh
  scripts-local/vars.sh
  x/epochs/keeper/epoch_test.go
  x/epochs/keeper/grpc_query_test.go
  x/epochs/types/genesis.go
  x/mint/genesis.go
  x/mint/keeper/hooks.go
  x/mint/keeper/keeper.go
  x/mint/types/expected_keepers.go
  x/mint/types/keys.go
  x/mint/types/mint.pb.go
  x/mint/types/params.go
  x/stakeibc/client/cli/query_epoch_tracker_test.go
  x/stakeibc/keeper/msg_server_register_host_zone.go
Labels: C:app-wiring, C:epochs, C:stakeibc, C:mint, T:build, C:CLI, C:proto

#244 [UNIT TEST] msg submit query response
  x/interchainquery/keeper/keeper_test.go
  x/interchainquery/keeper/msg_server.go
  x/interchainquery/keeper/msg_submit_query_response_test.go
  x/interchainquery/types/error.go
Labels: C:interchainquery

#254 [SAFETY] Add RateLimiting to BeginBlocker
  app/app.go
  x/stakeibc/abci.go
  x/stakeibc/keeper/invariants.go
  x/stakeibc/types/params.go
Labels: C:app-wiring, C:stakeibc

#246 Update Default Parameters
  .gitignore
  x/epochs/keeper/grpc_query_test.go
  x/epochs/types/genesis.go
  x/records/client/cli/query_deposit_record_test.go
  x/stakeibc/types/params.go
Labels: C:epochs, C:stakeibc, C:records, C:CLI, A:automerge

#238 [UNITTEST] Unbonding Flow
  .gitignore
  x/stakeibc/keeper/keeper_test.go
  x/stakeibc/keeper/unbonding_records.go
  x/stakeibc/keeper/unbonding_records_cleanup_test.go
  x/stakeibc/keeper/unbonding_records_get_host_zone_unbondings_msgs_test.go
  x/stakeibc/keeper/unbonding_records_initiate_all_unbondings_test.go
  x/stakeibc/keeper/unbonding_records_sweep_unbonded_tokens_test.go
  x/stakeibc/types/errors.go
Labels: C:stakeibc

#250 [UNITTEST] Register Host Zone and Interchain Account
  x/stakeibc/keeper/icqcallbacks_withdrawal_balance_test.go
  x/stakeibc/keeper/keeper.go
  x/stakeibc/keeper/msg_server_register_host_zone.go
  x/stakeibc/keeper/msg_server_register_host_zone_test.go
  x/stakeibc/keeper/msg_server_restore_interchain_account.go
  x/stakeibc/keeper/msg_server_restore_interchain_account_test.go
  x/stakeibc/keeper/msg_server_submit_tx.go
  x/stakeibc/types/errors.go
Labels: C:stakeibc

#256 [UNIT-TEST] Module Account Creation
  x/stakeibc/keeper/msg_server_register_host_zone_test.go
Labels: C:stakeibc

#258 fix validate basic check
  x/stakeibc/types/message_claim_undelegated_tokens.go
  x/stakeibc/types/message_claim_undelegated_tokens_test.go
  x/stakeibc/types/message_liquid_stake.go
  x/stakeibc/types/message_redeem_stake.go
  x/stakeibc/types/message_redeem_stake_test.go
Labels: C:stakeibc

#259 small fixes
  app/app.go
  scripts-local/tests/osmo_tests.bats
  x/stakeibc/keeper/msg_server_redeem_stake.go
  x/stakeibc/keeper/unbonding_records.go
  x/stakeibc/keeper/unbonding_records_sweep_unbonded_tokens_test.go
  x/stakeibc/types/message_redeem_stake.go
  x/stakeibc/types/message_redeem_stake_test.go
Labels: C:app-wiring, C:stakeibc

#261 Removed Testnet Upgrades
  app/upgrades.go
  app/upgrades/v2/upgrades.go
Labels: C:app-wiring

#262 Host Zone Initial Deposit Record
  scripts-local/init_gaia.sh
  scripts-local/init_juno.sh
  scripts-local/init_osmo.sh
  x/interchainquery/keeper/msg_server.go
  x/stakeibc/keeper/msg_server_register_host_zone.go
  x/stakeibc/keeper/msg_server_register_host_zone_test.go
Labels: C:stakeibc, C:interchainquery, T:build

#265 update keys
  x/mint/keeper/keeper.go
  x/stakeibc/types/keys.go
Labels: C:stakeibc, C:mint

#267 version bump
  cmd/strided/config/config.go
Labels: C:CLI

#269 add user redemption record query
  proto/records/query.proto
  scripts-local/build.sh
  scripts-local/test-utils/run_any_cli_command.sh
  x/records/keeper/grpc_query_user_redemption_record_for_user.go
  x/records/types/query.pb.go
  x/records/types/query.pb.gw.go
Labels: C:records, T:build, C:proto

#271 Update README.md
  x/README.md
Labels: C:docs

#213 Docker net multiple host
  .gitmodules
  Dockerfile.gaia
  Dockerfile.hermes
  Dockerfile.icq
  Dockerfile.juno
  Dockerfile.osmo
  Dockerfile.relayer
  Dockerfile.stride
  Makefile
  docker-compose.yml
  scripts/README.md
  scripts/account_vars.sh
  scripts/build.sh
  scripts/config/hermes_config.toml
  scripts/config/ica.json
  scripts/config/icq_config.yaml
  scripts/config/relayer_config.yaml
  scripts/create_channels.sh
  scripts/create_logs.sh
  scripts/init_chain.sh
  scripts/init_gaia.sh
  scripts/init_relayers.sh
  scripts/init_stride.sh
  scripts/register_host.sh
  scripts/start_chain.sh
  scripts/start_network.sh
  scripts/test-util/1.sh
  scripts/test-util/2.sh
  scripts/tests/1.sh
  scripts/tests/2.sh
  scripts/tests/3.sh
  scripts/tests/basic_tests.bats
  scripts/tests/gaia_tests.bats
  scripts/tests/ica_redeem.sh
  scripts/tests/juno_tests.bats
  scripts/tests/local_tests.bats
  scripts/tests/osmo_tests.bats
  scripts/tests/run_all_tests.sh
  scripts/vars.sh
Labels: T:build, C:submodules

#285 add changelog
  CHANGELOG.md
Labels: A:automerge

#286 Fix stride's amino encoding and add a unit test to check GetSignBytes…
  x/stakeibc/types/codec.go
  x/stakeibc/types/message_liquid_stake_test.go
Labels: C:stakeibc
