Repository Stride-Labs/stride, pull requests merged in 2023-09, with the labels that each got.

#928 Finished auto changelog script
  .github/workflows/changelog.yml
  CHANGELOG.md
  scripts/changelog.sh
Labels: T:CI, T:build, A:automerge

#933 increased precision error buffer on delegator shares callback
  x/stakeibc/keeper/icqcallbacks_delegator_shares.go
Labels: C:stakeibc

#934 Use detokenization amount from tx response
  x/stakeibc/keeper/icacallbacks_detokenize.go
  x/stakeibc/keeper/icacallbacks_detokenize_test.go
Labels: C:stakeibc

#938 add inner bounds
  dockernet/scripts/set_bound.sh
  proto/stride/stakeibc/host_zone.proto
  proto/stride/stakeibc/tx.proto
  x/stakeibc/client/cli/tx.go
  x/stakeibc/client/cli/tx_update_inner_redemption_rate_bounds.go
  x/stakeibc/handler.go
  x/stakeibc/keeper/host_zone_test.go
  x/stakeibc/keeper/keeper.go
  x/stakeibc/keeper/msg_server_register_host_zone.go
  x/stakeibc/keeper/msg_server_update_inner_redemption_rate_bounds.go
  x/stakeibc/keeper/msg_server_update_inner_redemption_rate_bounds_test.go
  x/stakeibc/types/codec.go
  x/stakeibc/types/errors.go
  x/stakeibc/types/host_zone.pb.go
  x/stakeibc/types/message_update_inner_redemption_rate_bounds.go
  x/stakeibc/types/tx.pb.go
Labels: C:stakeibc, C:CLI, C:proto, A:automerge

#940 added cap on undelegate messages
  x/stakeibc/keeper/unbonding_records.go
Labels: C:stakeibc, A:automerge

#936 add rounding calibration function
  proto/stride/stakeibc/tx.proto
  x/stakeibc/client/cli/tx.go
  x/stakeibc/client/cli/tx_calibrate_delegation.go
  x/stakeibc/handler.go
  x/stakeibc/keeper/icqcallbacks.go
  x/stakeibc/keeper/icqcallbacks_callibrate_delegation.go
  x/stakeibc/keeper/msg_server_calibrate_delegation.go
  x/stakeibc/keeper/msg_server_submit_tx.go
  x/stakeibc/types/codec.go
  x/stakeibc/types/message_calibrate_delegation.go
  x/stakeibc/types/tx.pb.go
Labels: C:stakeibc, C:CLI, C:proto, A:automerge

#935 Undel host function
  proto/stride/stakeibc/callbacks.proto
  proto/stride/stakeibc/tx.proto
  x/stakeibc/client/cli/tx.go
  x/stakeibc/client/cli/tx_undelegate_host.go
  x/stakeibc/handler.go
  x/stakeibc/keeper/icacallbacks.go
  x/stakeibc/keeper/icacallbacks_undelegate.go
  x/stakeibc/keeper/icacallbacks_undelegate_test.go
  x/stakeibc/keeper/msg_undelegate_host.go
  x/stakeibc/keeper/msg_undelegate_host_test.go
  x/stakeibc/keeper/unbonding_records.go
  x/stakeibc/keeper/undelegate_host.go
  x/stakeibc/keeper/undelegate_host_test.go
  x/stakeibc/types/callbacks.pb.go
  x/stakeibc/types/codec.go
  x/stakeibc/types/errors.go
  x/stakeibc/types/message_undelegate_host.go
  x/stakeibc/types/tx.pb.go
Labels: C:stakeibc, C:CLI, C:proto

#941 v15 upgrade handler
  app/upgrades.go
  app/upgrades/v15/upgrades.go
  app/upgrades/v15/upgrades_test.go
Labels: C:app-wiring
