Repository Stride-Labs/stride, pull requests merged in 2023-06, with the labels that each got.

#824 Aidan/v10 upgrade handler claim param migration
  app/upgrades.go
  app/upgrades/v10/upgrades.go
  app/upgrades/v10/upgrades_test.go
  dockernet/scripts/airdrop/airdrop1_standard.sh
Labels: C:app-wiring, C:stakeibc, C:records, T:build, C:submodules, C:test, dependencies

#826 Removed comdex from list of new rate limits
  app/upgrades/v10/upgrades.go
Labels: C:app-wiring

#828 v10 Changelog
  CHANGELOG.md
  app/upgrades/v10/README.md
Labels: C:app-wiring

#817 Switch relayer cmd to `rly`
  .gitignore
  dockernet/config.sh
  scripts/local-to-mainnet/start.sh
Labels: T:build, A:automerge

#829 add build_tag only once
  Makefile
Labels: A:automerge

#831 Added long version to version command
  cmd/strided/root.go
Labels: C:CLI
