Repository Stride-Labs/stride, pull requests merged in 2023-01, with the labels that each got.

#558 add details description on GetMsgServer's use
  x/interchainquery/keeper/keeper_test.go
  x/records/keeper/keeper_test.go
  x/stakeibc/keeper/keeper_test.go
Labels: A:automerge

#540 Dockernet updates
  .gitmodules
  dockernet/README.md
  dockernet/build.sh
  dockernet/config.sh
  dockernet/config/relayer_config.yaml
  dockernet/docker-compose.yml
  dockernet/dockerfiles/Dockerfile.relayer
  dockernet/src/create_logs.sh
  dockernet/src/init_chain.sh
  dockernet/src/register_host.sh
  dockernet/src/start_chain.sh
  dockernet/src/start_relayers.sh
  dockernet/start_network.sh
  dockernet/tests/run_all_tests.sh
  x/stakeibc/keeper/get_denom_traces_test.go
Labels: C:stakeibc, T:build

#560 Update README.md
  README.md
  dockernet/README.md
Labels: T:build, C:docs, A:automerge

#552 Callback Logs Cleanup Pt. 2
  utils/utils.go
  x/stakeibc/keeper/delegation_test.go
  x/stakeibc/keeper/host_zone.go
  x/stakeibc/keeper/icacallbacks_claim.go
  x/stakeibc/keeper/icacallbacks_claim_test.go
  x/stakeibc/keeper/icacallbacks_delegate.go
  x/stakeibc/keeper/icacallbacks_delegate_test.go
  x/stakeibc/keeper/icacallbacks_rebalance.go
  x/stakeibc/keeper/icacallbacks_rebalance_test.go
  x/stakeibc/keeper/icacallbacks_redemption.go
  x/stakeibc/keeper/icacallbacks_redemption_test.go
  x/stakeibc/keeper/icacallbacks_reinvest.go
  x/stakeibc/keeper/icacallbacks_reinvest_test.go
  x/stakeibc/keeper/icacallbacks_undelegate.go
  x/stakeibc/keeper/icacallbacks_undelegate_test.go
Labels: C:stakeibc, v5

#563 Updated README
  README.md
  dockernet/README.md
Labels: T:build, C:docs, A:automerge

#539 evmos onboarding
  .gitmodules
  dockernet/build.sh
  dockernet/config.sh
  dockernet/config/evmos_ica.json
  dockernet/config/relayer_config.yaml
  dockernet/docker-compose.yml
  dockernet/dockerfiles/Dockerfile.evmos
  dockernet/src/init_chain.sh
  dockernet/src/start_relayers.sh
  dockernet/tests/run_all_tests.sh
Labels: T:build

#569 Remove Delegation Keeper Functions
  x/stakeibc/keeper/delegation.go
  x/stakeibc/keeper/delegation_test.go
Labels: C:stakeibc

#570 Removed Delegation Proto
  proto/stride/stakeibc/delegation.proto
  proto/stride/stakeibc/ica_account.proto
  x/stakeibc/types/delegation.pb.go
  x/stakeibc/types/ica_account.pb.go
Labels: C:stakeibc, C:proto

#571 Remove Validator Keeper Functions
  x/stakeibc/keeper/host_zone.go
  x/stakeibc/keeper/host_zone_test.go
  x/stakeibc/keeper/validator.go
  x/stakeibc/keeper/validator_test.go
Labels: C:stakeibc

#574 Remove Authz in v5
  app/app.go
  app/upgrades.go
  app/upgrades/v5/upgrades.go
  cmd/strided/config/config.go
  dockernet/src/init_chain.sh
  dockernet/upgrades/Dockerfile.cosmovisor
  dockernet/upgrades/submit_upgrade.sh
  go.mod
Labels: C:app-wiring, C:CLI, dependencies

#548 Update check condition with sdk.Int
  x/stakeibc/keeper/validator_selection.go
Labels: C:stakeibc, A:automerge

#554 Callback Logs Cleanup Pt. 3 (ICQCallbacks)
  app/apptesting/test_helpers.go
  app/upgrades.go
  app/upgrades/v5/upgrades.go
  dockernet/config.sh
  dockernet/src/init_chain.sh
  proto/stride/stakeibc/params.proto
  x/icacallbacks/keeper/keeper.go
  x/interchainquery/keeper/msg_server.go
  x/interchainquery/keeper/msg_submit_query_response_test.go
  x/interchainquery/types/error.go
  x/stakeibc/keeper/hooks.go
  x/stakeibc/keeper/icqcallbacks_delegator_shares.go
  x/stakeibc/keeper/icqcallbacks_delegator_shares_test.go
  x/stakeibc/keeper/icqcallbacks_validator_exchange_rate.go
  x/stakeibc/keeper/icqcallbacks_validator_exchange_rate_test.go
  x/stakeibc/keeper/icqcallbacks_withdrawal_balance.go
  x/stakeibc/keeper/icqcallbacks_withdrawal_balance_test.go
  x/stakeibc/keeper/keeper.go
  x/stakeibc/keeper/msg_server_submit_tx.go
  x/stakeibc/keeper/update_validator_shares_exch_rate_test.go
  x/stakeibc/types/errors.go
  x/stakeibc/types/params.go
  x/stakeibc/types/params.pb.go
Labels: C:app-wiring, C:stakeibc, C:interchainquery, T:build, C:proto, v5

#576 Added Stride as v5 Host Zone
  dockernet/README.md
  dockernet/config.sh
  dockernet/config/relayer_config.yaml
  dockernet/docker-compose.yml
  dockernet/src/init_chain.sh
  dockernet/tests/integration_tests.bats
  dockernet/tests/run_all_tests.sh
  dockernet/upgrades/README.md
  x/stakeibc/keeper/get_denom_traces_test.go
  x/stakeibc/keeper/icqcallbacks_withdrawal_balance.go
  x/stakeibc/keeper/icqcallbacks_withdrawal_balance_test.go
Labels: C:stakeibc, T:build

#341 Update README.md
  README.md
Labels: A:automerge, Stale

#589 Fix Stakeibc Init/Export Genesis
  Makefile
  dockernet/upgrades/README.md
  proto/stride/stakeibc/genesis.proto
  proto/stride/stakeibc/min_validator_requirements.proto
  proto/stride/stakeibc/query.proto
  testutil/localstride/README.md
  x/stakeibc/README.md
  x/stakeibc/client/cli/query.go
  x/stakeibc/client/cli/query_epoch_tracker.go
  x/stakeibc/client/cli/query_ica_account.go
  x/stakeibc/client/cli/query_ica_account_test.go
  x/stakeibc/genesis.go
  x/stakeibc/genesis_test.go
  x/stakeibc/keeper/grpc_query_epoch_tracker.go
  x/stakeibc/keeper/grpc_query_epoch_tracker_test.go
  x/stakeibc/keeper/grpc_query_ica_account.go
  x/stakeibc/keeper/grpc_query_ica_account_test.go
  x/stakeibc/keeper/host_zone.go
  x/stakeibc/keeper/ica_account.go
  x/stakeibc/keeper/ica_account_test.go
  x/stakeibc/keeper/min_validator_requirements.go
  x/stakeibc/keeper/min_validator_requirements_test.go
  x/stakeibc/types/genesis.go
  x/stakeibc/types/genesis.pb.go
  x/stakeibc/types/genesis_test.go
  x/stakeibc/types/key_epoch_tracker.go
  x/stakeibc/types/keys.go
  x/stakeibc/types/min_validator_requirements.pb.go
  x/stakeibc/types/query.pb.go
  x/stakeibc/types/query.pb.gw.go
Labels: C:stakeibc, T:build, C:CLI, C:docs, C:proto, C:test

#590 Added Next Packet Sequence Query
  dockernet/scripts/4.sh
  proto/stride/stakeibc/query.proto
  x/stakeibc/README.md
  x/stakeibc/client/cli/query.go
  x/stakeibc/client/cli/query_next_packet_sequence.go
  x/stakeibc/keeper/grpc_query_next_packet_sequence.go
  x/stakeibc/keeper/grpc_query_next_packet_sequence_test.go
  x/stakeibc/types/query.pb.go
  x/stakeibc/types/query.pb.gw.go
Labels: C:stakeibc, C:CLI, C:docs, C:proto

#591 Upgrade v5 CHANGELOG
  CHANGELOG.md
  app/upgrades/v5/README.md
Labels: C:app-wiring

#592 Split v5 On-Chain vs Off-Chain Changes in CHANGELOG
  CHANGELOG.md
Labels: A:automerge
