Repository Stride-Labs/stride, pull requests merged in 2023-03, with the labels that each got.

#621 Hostzone reward reallocation
  app/app.go
  app/apptesting/test_helpers.go
  go.mod
  x/stakeibc/keeper/hooks.go
  x/stakeibc/keeper/icqcallbacks_withdrawal_balance.go
  x/stakeibc/keeper/reward_allocation_test.go
  x/stakeibc/module.go
  x/stakeibc/types/expected_keepers.go
  x/stakeibc/types/keys.go
Labels: C:app-wiring, C:stakeibc, dependencies, v7

#649 Update claim account check
  x/claim/keeper/claim.go
  x/claim/keeper/claim_test.go
  x/claim/types/errors.go
Labels: A:automerge, v7

#631 Query Deposit Records by Host Zone
  proto/stride/records/query.proto
  x/records/client/cli/query.go
  x/records/client/cli/query_deposit_record.go
  x/records/keeper/grpc_query_deposit_record.go
  x/records/keeper/grpc_query_deposit_record_test.go
  x/records/types/query.pb.go
  x/records/types/query.pb.gw.go
Labels: C:records, C:CLI, C:proto, v7

#630 Removed duplicate check for min/max validators in rebalance
  app/apptesting/test_helpers.go
  x/stakeibc/keeper/msg_server_rebalance_validators.go
  x/stakeibc/keeper/msg_server_rebalance_validators_test.go
  x/stakeibc/types/message_rebalance_validators.go
  x/stakeibc/types/message_rebalance_validators_test.go
Labels: C:app-wiring, C:stakeibc, v7

#633 Add ibc denom checker
  x/autopilot/keeper/liquidstake.go
  x/autopilot/keeper/liquidstake_test.go
Labels: v7

#606 Halt per hostZone
  app/app.go
  dockernet/tests/integration_tests.bats
  proto/stride/stakeibc/host_zone.proto
  proto/stride/stakeibc/params.proto
  proto/stride/stakeibc/tx.proto
  readme-docs/md/stakeibc_README.md
  x/ratelimit/README.md
  x/stakeibc/README.md
  x/stakeibc/abci.go
  x/stakeibc/client/cli/tx_register_host_zone.go
  x/stakeibc/keeper/deposit_records.go
  x/stakeibc/keeper/hooks.go
  x/stakeibc/keeper/host_zone.go
  x/stakeibc/keeper/host_zone_test.go
  x/stakeibc/keeper/keeper.go
  x/stakeibc/keeper/keeper_test.go
  x/stakeibc/keeper/msg_server_claim_undelegated_tokens.go
  x/stakeibc/keeper/msg_server_liquid_stake.go
  x/stakeibc/keeper/msg_server_liquid_stake_test.go
  x/stakeibc/keeper/msg_server_redeem_stake.go
  x/stakeibc/keeper/msg_server_redeem_stake_test.go
  x/stakeibc/keeper/msg_server_register_host_zone.go
  x/stakeibc/keeper/unbonding_records.go
  x/stakeibc/types/errors.go
  x/stakeibc/types/events_ibc.go
  x/stakeibc/types/expected_keepers.go
  x/stakeibc/types/genesis_test.go
  x/stakeibc/types/host_zone.pb.go
  x/stakeibc/types/message_register_host_zone.go
  x/stakeibc/types/params.go
  x/stakeibc/types/params.pb.go
  x/stakeibc/types/tx.pb.go
Labels: C:app-wiring, C:stakeibc, C:CLI, C:docs, C:proto, v7

#652 Validator Rebalancing Update
  x/stakeibc/keeper/msg_server_rebalance_validators.go
Labels: C:stakeibc

#647 Add Unbonding Query
  Makefile
  proto/stride/stakeibc/address_unbonding.proto
  proto/stride/stakeibc/query.proto
  x/stakeibc/keeper/grpc_query_address_unbondings.go
  x/stakeibc/types/address_unbonding.pb.go
  x/stakeibc/types/query.pb.go
  x/stakeibc/types/query.pb.gw.go
Labels: C:stakeibc, T:build, C:proto, v7

#659 remove unnecessary errs in hooks
  x/stakeibc/keeper/hooks.go
Labels: C:stakeibc, v7

#658 Safely Add Module Account
  utils/module_account.go
  x/stakeibc/keeper/msg_server_register_host_zone.go
Labels: C:stakeibc, A:automerge, v7

#651 Code Cleanup: MsgLiquidStake
  dockernet/tests/integration_tests.bats
  readme-docs/md/records_README.md
  x/records/README.md
  x/records/keeper/deposit_record.go
  x/stakeibc/keeper/msg_server_liquid_stake.go
  x/stakeibc/keeper/msg_server_liquid_stake_test.go
  x/stakeibc/types/errors.go
  x/stakeibc/types/events.go
Labels: C:stakeibc, C:records, C:docs, A:automerge, v7

#648 Cleanup Stakeibc Hooks + Test
  app/app.go
  dockernet/config.sh
  dockernet/src/init_chain.sh
  dockernet/tests/integration_tests.bats
  go.mod
  go.sum
  x/interchainquery/keeper/queries.go
  x/interchainquery/keeper/queries_test.go
  x/interchainquery/types/keys.go
  x/stakeibc/keeper/hooks.go
  x/stakeibc/keeper/host_zone.go
  x/stakeibc/keeper/icacallbacks_reinvest.go
  x/stakeibc/keeper/icacallbacks_reinvest_test.go
  x/stakeibc/keeper/icqcallbacks.go
  x/stakeibc/keeper/icqcallbacks_fee_balance.go
  x/stakeibc/keeper/icqcallbacks_fee_balance_test.go
  x/stakeibc/keeper/icqcallbacks_withdrawal_balance.go
  x/stakeibc/keeper/icqcallbacks_withdrawal_balance_test.go
  x/stakeibc/keeper/msg_server_submit_tx.go
  x/stakeibc/keeper/reward_allocation.go
  x/stakeibc/keeper/reward_allocation_test.go
  x/stakeibc/types/errors.go
Labels: C:app-wiring, C:stakeibc, C:interchainquery, T:build, dependencies, v7

#638 v7 upgrade handler
  app/upgrades.go
  app/upgrades/v7/README.md
  app/upgrades/v7/constants.go
  app/upgrades/v7/upgrades.go
  app/upgrades/v7/upgrades_test.go
  dockernet/tests/integration_tests.bats
  x/autopilot/types/params.go
Labels: C:app-wiring, v7

#664 V7 changelog
  CHANGELOG.md
  app/app.go
  app/upgrades/v7/README.md
  app/upgrades/v7/upgrades.go
  cmd/strided/config/config.go
  dockernet/upgrades/README.md
  dockernet/upgrades/submit_upgrade.sh
Labels: C:app-wiring, C:CLI, v7

#667 V7 testing
  app/upgrades/v7/upgrades.go
  app/upgrades/v7/upgrades_test.go
  proto/stride/stakeibc/params.proto
  readme-docs/md/stakeibc_README.md
  testutil/localstride/state-export/scripts/compare_before_after_state.py
  testutil/localstride/state-export/scripts/submit_upgrade.sh
  x/stakeibc/README.md
  x/stakeibc/keeper/msg_server_rebalance_validators.go
  x/stakeibc/keeper/reward_allocation.go
  x/stakeibc/types/params.go
  x/stakeibc/types/params.pb.go
Labels: C:app-wiring, C:stakeibc, C:docs, C:proto, C:test

#670 Build Docker Image on New Release
  .github/workflows/release.yml
Labels: T:CI

#671 Build Docker Image on New Release (Pt. 2)
  .github/workflows/release.yml
Labels: T:CI

#678 Enable Delegator Shares Query to Correct DelegationAmt
  x/stakeibc/keeper/icqcallbacks_delegator_shares.go
  x/stakeibc/keeper/icqcallbacks_delegator_shares_test.go
Labels: C:stakeibc, v8

#682 fixed typo in docs for adding a new host
  dockernet/README.md
Labels: T:build

#679 add new claim queries
  proto/stride/claim/query.proto
  x/claim/README.md
  x/claim/client/cli/query.go
  x/claim/keeper/claim.go
  x/claim/keeper/claim_test.go
  x/claim/keeper/grpc_query.go
  x/claim/types/query.pb.go
  x/claim/types/query.pb.gw.go
Labels: C:CLI, C:docs, C:proto, A:automerge

#677 Add Multiple Validators in One Transaction
  app/app.go
  dockernet/src/init_chain.sh
  dockernet/src/register_host.sh
  proto/stride/stakeibc/gov.proto
  proto/stride/stakeibc/tx.proto
  proto/stride/stakeibc/validator.proto
  x/stakeibc/README.md
  x/stakeibc/client/cli/tx.go
  x/stakeibc/client/cli/tx_add_validator.go
  x/stakeibc/client/cli/tx_add_validators.go
  x/stakeibc/client/cli/tx_add_validators_proposal.go
  x/stakeibc/client/proposal_handler.go
  x/stakeibc/handler.go
  x/stakeibc/keeper/gov.go
  x/stakeibc/keeper/host_zone.go
  x/stakeibc/keeper/msg_server_add_validator.go
  x/stakeibc/keeper/msg_server_add_validator_test.go
  x/stakeibc/keeper/msg_server_add_validators.go
  x/stakeibc/keeper/msg_server_add_validators_test.go
  x/stakeibc/keeper/msg_server_delete_validator_test.go
  x/stakeibc/keeper/msg_server_rebalance_validators_test.go
  x/stakeibc/migrations/v2/convert.go
  x/stakeibc/migrations/v2/convert_test.go
  x/stakeibc/proposal_handler.go
  x/stakeibc/simulation/add_validator.go
  x/stakeibc/types/codec.go
  x/stakeibc/types/gov.go
  x/stakeibc/types/gov.pb.go
  x/stakeibc/types/message_add_validator.go
  x/stakeibc/types/message_add_validator_test.go
  x/stakeibc/types/message_add_validators.go
  x/stakeibc/types/message_add_validators_test.go
  x/stakeibc/types/tx.pb.go
  x/stakeibc/types/validator.pb.go
Labels: C:app-wiring, C:simulator, C:stakeibc, C:CLI, C:docs, C:proto, v8

#683 v8 Upgrade Handler
  app/upgrades.go
  app/upgrades/v8/README.md
  app/upgrades/v8/allocations.go
  app/upgrades/v8/upgrades.go
  app/upgrades/v8/upgrades_test.go
  dockernet/upgrades/submit_upgrade.sh
Labels: C:app-wiring

#689 Autopilot JSON Memo
  app/app.go
  app/upgrades/v8/upgrades_test.go
  dockernet/tests/integration_tests.bats
  proto/stride/autopilot/params.proto
  x/autopilot/README.md
  x/autopilot/genesis_test.go
  x/autopilot/keeper/airdrop.go
  x/autopilot/keeper/airdrop_test.go
  x/autopilot/keeper/grpc_query_params_test.go
  x/autopilot/keeper/keeper.go
  x/autopilot/keeper/liquidstake.go
  x/autopilot/keeper/liquidstake_test.go
  x/autopilot/keeper/params_test.go
  x/autopilot/module_ibc.go
  x/autopilot/types/errors.go
  x/autopilot/types/params.go
  x/autopilot/types/params.pb.go
  x/autopilot/types/parser.go
  x/autopilot/types/parser_test.go
  x/claim/README.md
  x/claim/keeper/claim.go
  x/claim/keeper/claim_test.go
  x/claim/keeper/hooks.go
  x/claim/types/errors.go
Labels: C:app-wiring, C:docs, C:proto

#694 added airdrop safety checks
  app/upgrades/v8/upgrades.go
  app/upgrades/v8/upgrades_test.go
  x/claim/handler.go
Labels: C:app-wiring

#688 airdrop testing
  app/upgrades/v8/upgrades.go
  dockernet/scripts/airdrop.sh
  dockernet/scripts/airdrop/airdrop1.sh
  dockernet/scripts/airdrop/airdrop2.sh
  dockernet/scripts/airdrop/airdrop3.sh
  dockernet/scripts/airdrop/airdrop4.sh
Labels: C:app-wiring

#685 V8 changelog
  CHANGELOG.md
  app/upgrades/v8/README.md
Labels: C:app-wiring

#695 Set epoch provisions in mint init genesis
  x/mint/genesis.go
Labels: C:mint
