Repository Stride-Labs/stride, pull requests merged in 2023-04, with the labels that each got.

#699 Add Unit Test to Check Host Zone Min/Max RR
  x/stakeibc/keeper/msg_server_register_host_zone_test.go
Labels: C:stakeibc, A:automerge

#732 Finalize Addition of Evmos to Dockernet
  .gitmodules
  dockernet/README.md
  dockernet/build.sh
  dockernet/config.sh
  dockernet/config/ica_controller.json
  dockernet/config/ica_host.json
  dockernet/config/relayer_config.yaml
  dockernet/docker-compose.yml
  dockernet/dockerfiles/Dockerfile.relayer
  dockernet/scripts/1.sh
  dockernet/src/app.toml
  dockernet/src/init_chain.sh
  dockernet/src/start_relayers.sh
  dockernet/tests/integration_tests.bats
  dockernet/tests/run_all_tests.sh
  x/claim/keeper/claim.go
  x/claim/types/params.go
  x/stakeibc/abci.go
  x/stakeibc/keeper/get_denom_traces_test.go
  x/stakeibc/keeper/msg_server_redeem_stake.go
Labels: T:build, C:submodules

#725 [LSM] Update Redemption Rate Calculation - Unit tests
  x/stakeibc/keeper/hooks.go
  x/stakeibc/keeper/update_redemption_rates_test.go
Labels: C:app-wiring, C:stakeibc, C:interchainquery, C:records, T:build, C:CLI, C:docs, C:proto

#728 Autopilot Channel Verification
  app/upgrades/v3/upgrades.go
  app/upgrades/v8/upgrades.go
  dockernet/config.sh
  dockernet/scripts/airdrop.sh
  dockernet/scripts/airdrop/README.md
  dockernet/scripts/airdrop/airdrop1_standard.sh
  dockernet/scripts/airdrop/airdrop2_autopilot.sh
  dockernet/scripts/airdrop/airdrop3.sh
  dockernet/scripts/airdrop/airdrop3_evmos.sh
  dockernet/scripts/airdrop/airdrop4.sh
  dockernet/scripts/airdrop/airdrop4_resets.sh
  dockernet/scripts/airdrop/airdrop5_staggered.sh
  dockernet/scripts/airdrop/evmos_airdrop.sh
  proto/stride/claim/params.proto
  proto/stride/claim/tx.proto
  x/autopilot/keeper/airdrop.go
  x/autopilot/keeper/airdrop_test.go
  x/autopilot/module_ibc.go
  x/autopilot/types/parser.go
  x/autopilot/types/parser_test.go
  x/claim/client/cli/cli_test.go
  x/claim/client/cli/tx_create_airdrop.go
  x/claim/keeper/claim.go
  x/claim/keeper/claim_test.go
  x/claim/keeper/keeper_test.go
  x/claim/keeper/msg_server.go
  x/claim/keeper/msg_server_test.go
  x/claim/types/errors.go
  x/claim/types/msgs.go
  x/claim/types/params.go
  x/claim/types/params.pb.go
  x/claim/types/tx.pb.go
  x/stakeibc/keeper/host_zone.go
  x/stakeibc/keeper/host_zone_test.go
  x/stakeibc/keeper/msg_server_register_host_zone.go
  x/stakeibc/keeper/msg_server_register_host_zone_test.go
Labels: C:app-wiring, C:stakeibc, T:build, C:CLI, C:proto

#730 v9 Changelog
  CHANGELOG.md
  app/upgrades/v8/README.md
  app/upgrades/v9/README.md
Labels: C:app-wiring

#736 Enabled evmos in upgrade integration tests
  dockernet/tests/run_tests_upgrade.sh
Labels: A:automerge

#739 [LSM] Remove Unbalanced Delegation
  proto/stride/stakeibc/host_zone.proto
  proto/stride/stakeibc/validator.proto
  x/stakeibc/keeper/hooks.go
  x/stakeibc/keeper/host_zone.go
  x/stakeibc/keeper/host_zone_test.go
  x/stakeibc/keeper/icacallbacks_delegate.go
  x/stakeibc/keeper/icacallbacks_delegate_test.go
  x/stakeibc/keeper/icacallbacks_detokenize.go
  x/stakeibc/keeper/icacallbacks_rebalance.go
  x/stakeibc/keeper/icacallbacks_rebalance_test.go
  x/stakeibc/keeper/icacallbacks_undelegate.go
  x/stakeibc/keeper/icacallbacks_undelegate_test.go
  x/stakeibc/keeper/icqcallbacks_delegator_shares.go
  x/stakeibc/keeper/icqcallbacks_delegator_shares_test.go
  x/stakeibc/keeper/msg_server_add_validators_test.go
  x/stakeibc/keeper/msg_server_delete_validator_test.go
  x/stakeibc/keeper/msg_server_rebalance_validators.go
  x/stakeibc/keeper/msg_server_rebalance_validators_test.go
  x/stakeibc/keeper/msg_server_redeem_stake.go
  x/stakeibc/keeper/msg_server_redeem_stake_test.go
  x/stakeibc/keeper/unbonding_records.go
  x/stakeibc/keeper/unbonding_records_get_host_zone_unbondings_msgs_test.go
  x/stakeibc/keeper/unbonding_records_initiate_all_unbondings_test.go
  x/stakeibc/keeper/unbonding_records_sweep_unbonded_tokens_test.go
  x/stakeibc/keeper/update_redemption_rates_test.go
  x/stakeibc/keeper/validator_selection.go
  x/stakeibc/types/host_zone.pb.go
  x/stakeibc/types/validator.pb.go
Labels: C:app-wiring, C:stakeibc, C:interchainquery, C:records, T:build, C:CLI, C:docs, C:proto
