Repository Stride-Labs/stride, pull requests merged in 2023-07, with the labels that each got.

#810 ICACallbacks Refactor
  app/app.go
  app/upgrades/README.md
  x/icacallbacks/ibc_module.go
  x/icacallbacks/keeper/keeper.go
  x/icacallbacks/types/callbacks.go
  x/records/keeper/callback_transfer.go
  x/records/keeper/callback_transfer_test.go
  x/records/keeper/callbacks.go
  x/stakeibc/ibc_middleware.go
  x/stakeibc/keeper/icacallbacks.go
  x/stakeibc/keeper/icacallbacks_claim.go
  x/stakeibc/keeper/icacallbacks_claim_test.go
  x/stakeibc/keeper/icacallbacks_delegate.go
  x/stakeibc/keeper/icacallbacks_delegate_test.go
  x/stakeibc/keeper/icacallbacks_rebalance.go
  x/stakeibc/keeper/icacallbacks_rebalance_test.go
  x/stakeibc/keeper/icacallbacks_redemption.go
  x/stakeibc/keeper/icacallbacks_redemption_test.go
  x/stakeibc/keeper/icacallbacks_reinvest.go
  x/stakeibc/keeper/icacallbacks_reinvest_test.go
  x/stakeibc/keeper/icacallbacks_undelegate.go
  x/stakeibc/keeper/icacallbacks_undelegate_test.go
  x/stakeibc/module_ibc.go
Labels: C:app-wiring, C:stakeibc, C:records

#855 revert icacallbacks refactor
  CHANGELOG.md
  app/app.go
  dockernet/config.sh
  x/icacallbacks/ibc_module.go
  x/icacallbacks/keeper/keeper.go
  x/icacallbacks/types/callbacks.go
  x/records/keeper/callback_transfer.go
  x/records/keeper/callback_transfer_test.go
  x/records/keeper/callbacks.go
  x/stakeibc/ibc_middleware.go
  x/stakeibc/keeper/icacallbacks.go
  x/stakeibc/keeper/icacallbacks_claim.go
  x/stakeibc/keeper/icacallbacks_claim_test.go
  x/stakeibc/keeper/icacallbacks_delegate.go
  x/stakeibc/keeper/icacallbacks_delegate_test.go
  x/stakeibc/keeper/icacallbacks_rebalance.go
  x/stakeibc/keeper/icacallbacks_rebalance_test.go
  x/stakeibc/keeper/icacallbacks_redemption.go
  x/stakeibc/keeper/icacallbacks_redemption_test.go
  x/stakeibc/keeper/icacallbacks_reinvest.go
  x/stakeibc/keeper/icacallbacks_reinvest_test.go
  x/stakeibc/keeper/icacallbacks_undelegate.go
  x/stakeibc/keeper/icacallbacks_undelegate_test.go
  x/stakeibc/module_ibc.go
Labels: C:app-wiring, C:stakeibc, C:records, T:build

#863 Add back icacallback refactor
  app/app.go
  dockernet/config.sh
  x/icacallbacks/ibc_module.go
  x/icacallbacks/keeper/keeper.go
  x/icacallbacks/types/callbacks.go
  x/records/keeper/callback_transfer.go
  x/records/keeper/callback_transfer_test.go
  x/records/keeper/callbacks.go
  x/stakeibc/ibc_middleware.go
  x/stakeibc/keeper/icacallbacks.go
  x/stakeibc/keeper/icacallbacks_claim.go
  x/stakeibc/keeper/icacallbacks_claim_test.go
  x/stakeibc/keeper/icacallbacks_delegate.go
  x/stakeibc/keeper/icacallbacks_delegate_test.go
  x/stakeibc/keeper/icacallbacks_rebalance.go
  x/stakeibc/keeper/icacallbacks_rebalance_test.go
  x/stakeibc/keeper/icacallbacks_redemption.go
  x/stakeibc/keeper/icacallbacks_redemption_test.go
  x/stakeibc/keeper/icacallbacks_reinvest.go
  x/stakeibc/keeper/icacallbacks_reinvest_test.go
  x/stakeibc/keeper/icacallbacks_undelegate.go
  x/stakeibc/keeper/icacallbacks_undelegate_test.go
  x/stakeibc/module_ibc.go
Labels: C:app-wiring, C:stakeibc, C:records, T:build, A:automerge

#859 add build-linux command to Makefile
  Makefile
Labels: T:build
