Repository Stride-Labs/stride, pull requests merged in 2023-02, with the labels that each got.

#600 Prevent undelegations of amount 0
  x/stakeibc/keeper/unbonding_records.go
  x/stakeibc/keeper/unbonding_records_get_host_zone_unbondings_msgs_test.go
Labels: C:stakeibc

#612 Removed Epoch Unbonding Record's with Zero Amount
  x/stakeibc/keeper/unbonding_records.go
  x/stakeibc/keeper/unbonding_records_cleanup_test.go
Labels: C:stakeibc

#615 Bump github.com/gin-gonic/gin v1.7.0 to v1.7.7
  go.mod
  go.sum
Labels: dependencies

#542 Delete update status HostZoneUnbonding_EXIT_TRANSFER_QUEUE in UpdateHostZoneUnbondings function
  x/stakeibc/keeper/icacallbacks_undelegate.go
  x/stakeibc/keeper/icacallbacks_undelegate_test.go
Labels: Stale, notional

#618 Remove ICACallbacks from Middleware Stack
  app/app.go
  x/icacallbacks/genesis.go
  x/icacallbacks/keeper/keeper.go
  x/icacallbacks/module_ibc.go
  x/stakeibc/module_ibc.go
Labels: C:app-wiring, C:stakeibc

#605 Middleware comments fix
  proto/stride/app_router/params.proto
  readme-docs/md/app-router_README.md
  x/app-router/types/expected_keepers.go
  x/app-router/types/params.pb.go
Labels: Stale

#608 Fix Makefile so stop docker works on Linux
  Makefile
  dockernet/pkill.sh
Labels: T:build, A:automerge

#624 updating IBC channels list
  docs/list_of_IBC_channels.md
Labels: A:automerge

#547 update logic for UpdateDelegationBalances function
  x/stakeibc/keeper/icacallbacks_undelegate.go
Labels: v7

#614 Safety bound per hostzone
  proto/stride/stakeibc/host_zone.proto
  proto/stride/stakeibc/params.proto
  proto/stride/stakeibc/tx.proto
  readme-docs/md/stakeibc_README.md
  x/stakeibc/README.md
  x/stakeibc/client/cli/tx_register_host_zone.go
  x/stakeibc/keeper/host_zone_test.go
  x/stakeibc/keeper/keeper.go
  x/stakeibc/keeper/keeper_test.go
  x/stakeibc/keeper/msg_server_register_host_zone.go
  x/stakeibc/types/host_zone.pb.go
  x/stakeibc/types/message_register_host_zone.go
  x/stakeibc/types/params.go
  x/stakeibc/types/params.pb.go
  x/stakeibc/types/tx.pb.go
Labels: v7
