Repository Stride-Labs/stride, pull requests merged in 2023-08, with the labels that each got.

#882 add the redundant relay decorator to stride
  app/ante_handler.go
Labels: C:app-wiring

#881 ICS loose ends
  app/app.go
  app/proposals_whitelisting.go
  x/stakeibc/keeper/consumer.go
  x/stakeibc/keeper/consumer_test.go
  x/stakeibc/keeper/get_denom_traces_test.go
  x/stakeibc/keeper/keeper.go
  x/stakeibc/keeper/msg_server_register_host_zone.go
  x/stakeibc/types/errors.go
  x/stakeibc/types/expected_keepers.go
Labels: C:app-wiring, C:stakeibc

#885 Switch to SDK Fork to Address Distribution Bug
  go.mod
  go.sum
Labels: dependencies

#887 V13 changelog
  CHANGELOG.md
  app/upgrades/v13/README.md
Labels: C:app-wiring

#886 Add v13 Upgrade Handler
  Makefile
  app/upgrades.go
  app/upgrades/README.md
  app/upgrades/v13/upgrades.go
  app/upgrades/v13/upgrades_test.go
  go.mod
  go.sum
Labels: C:app-wiring, T:build, dependencies

#892 Removed consumer param store updates
  CHANGELOG.md
  app/upgrades/v13/README.md
  app/upgrades/v13/upgrades.go
  app/upgrades/v13/upgrades_test.go
  x/stakeibc/keeper/consumer_test.go
  x/stakeibc/keeper/msg_server_register_host_zone.go
Labels: C:app-wiring, C:stakeibc

#899 Added oracle transfer channel to icaoracle MsgInstantiateOracle and register aminos
  proto/stride/icaoracle/contract.proto
  proto/stride/icaoracle/icaoracle.proto
  proto/stride/icaoracle/tx.proto
  x/icaoracle/client/cli/tx.go
  x/icaoracle/keeper/msg_server.go
  x/icaoracle/types/codec.go
  x/icaoracle/types/contract.pb.go
  x/icaoracle/types/icaoracle.pb.go
  x/icaoracle/types/message_add_oracle.go
  x/icaoracle/types/message_add_oracle_test.go
  x/icaoracle/types/message_instantiate_oracle.go
  x/icaoracle/types/message_instantiate_oracle_test.go
  x/icaoracle/types/message_remove_oracle.go
  x/icaoracle/types/message_remove_oracle_test.go
  x/icaoracle/types/message_restore_oracle_interchain_account.go
  x/icaoracle/types/message_restore_oracle_interchain_account_test.go
  x/icaoracle/types/message_toggle_oracle.go
  x/icaoracle/types/message_toggle_oracle_test.go
  x/icaoracle/types/tx.pb.go
  x/stakeibc/keeper/hooks.go
Labels: C:stakeibc, C:CLI, C:proto

#903 v14 upgrade handler
  app/app.go
  app/upgrades.go
  app/upgrades/v14/README.md
  app/upgrades/v14/allocations.go
  app/upgrades/v14/upgrades.go
  app/upgrades/v14/upgrades_test.go
  build/.gitignore
  cmd/strided/root.go
  dockernet/build.sh
  go.mod
  go.sum
  utils/utils.go
  x/records/keeper/callback_lsm_transfer.go
  x/stakeibc/keeper/consumer_test.go
  x/stakeibc/keeper/icacallbacks_delegate.go
  x/stakeibc/keeper/icacallbacks_detokenize.go
  x/stakeibc/keeper/icacallbacks_undelegate.go
  x/stakeibc/keeper/icqcallbacks_delegator_shares.go
  x/stakeibc/keeper/icqcallbacks_delegator_shares_test.go
  x/stakeibc/keeper/icqcallbacks_validator_exchange_rate.go
  x/stakeibc/keeper/icqcallbacks_validator_exchange_rate_test.go
  x/stakeibc/keeper/icqcallbacks_withdrawal_balance.go
  x/stakeibc/keeper/lsm_test.go
  x/stakeibc/keeper/msg_server_lsm_liquid_stake.go
  x/stakeibc/keeper/msg_server_lsm_liquid_stake_test.go
  x/stakeibc/keeper/msg_server_register_host_zone.go
  x/stakeibc/keeper/update_validator_shares_exch_rate_test.go
  x/stakeibc/keeper/validator_selection_test.go
  x/stakeibc/migrations/v3/convert.go
  x/stakeibc/migrations/v3/convert_test.go
  x/stakeibc/migrations/v3/migrations.go
  x/stakeibc/migrations/v3/types/host_zone.pb.go
  x/stakeibc/migrations/v3/types/ica_account.pb.go
  x/stakeibc/migrations/v3/types/validator.pb.go
  x/stakeibc/module.go
Labels: C:app-wiring, C:stakeibc, C:records, T:build, C:CLI, dependencies

#901 added icaoracle license
  x/icaoracle/LICENSE
Labels: A:automerge

#914 update changelog
  CHANGELOG.md
  app/upgrades/v10/README.md
  app/upgrades/v11/README.md
  app/upgrades/v12/README.md
  app/upgrades/v13/README.md
  app/upgrades/v14/README.md
  app/upgrades/v2/README.md
  app/upgrades/v3/README.md
  app/upgrades/v4/README.md
  app/upgrades/v5/README.md
  app/upgrades/v6/README.md
  app/upgrades/v7/README.md
  app/upgrades/v8/README.md
  app/upgrades/v9/README.md
Labels: C:app-wiring, A:automerge
