Repository Stride-Labs/stride, pull requests merged in 2023-05, with the labels that each got.

#742 [LSM] Move token escrow out of StartLSMLiquidStake
  proto/stride/records/records.proto
  x/records/keeper/lsm_token_deposit_test.go
  x/records/keeper/transfer.go
  x/records/types/records.pb.go
  x/stakeibc/keeper/lsm.go
  x/stakeibc/keeper/lsm_test.go
  x/stakeibc/keeper/msg_server_lsm_liquid_stake.go
  x/stakeibc/keeper/msg_server_lsm_liquid_stake_test.go
  x/stakeibc/types/lsm.go
Labels: C:stakeibc, C:records, C:proto

#754 fixed dockernet typos
  dockernet/config.sh
  dockernet/docker-compose.yml
Labels: T:build

#756 [LSM] Updated Delegation in Detokenize Callback
  x/stakeibc/keeper/host_zone.go
  x/stakeibc/keeper/host_zone_test.go
  x/stakeibc/keeper/icacallbacks_delegate.go
  x/stakeibc/keeper/icacallbacks_delegate_test.go
  x/stakeibc/keeper/icacallbacks_detokenize.go
  x/stakeibc/keeper/icacallbacks_detokenize_test.go
  x/stakeibc/keeper/icacallbacks_undelegate.go
Labels: C:stakeibc

#770 Automated version increment [Part 1]
  .github/workflows/version.yml
  scripts/version.sh
Labels: T:CI, T:build

#776 Changes required to get local to mainnet testing working with Umee
  Makefile
  scripts/local-to-mainnet/README.md
  scripts/local-to-mainnet/commands.sh
  scripts/local-to-mainnet/start.sh
  scripts/local-to-mainnet/templates/commands.sh
  scripts/local-to-mainnet/templates/relayer_config.yaml
Labels: T:build, A:automerge

#786 Automated version increment [Part 2]
  .github/workflows/version.yml
  scripts/version.sh
Labels: T:CI, T:build

#788 Automated changelog [Part 1]
  .github/workflows/changelog.yml
  CHANGELOG.md
  scripts/changelog.sh
Labels: T:CI, T:build

#799 Automate changelog [Part 2]
  .github/workflows/changelog.yml
  .github/workflows/version.yml
  scripts/changelog.sh
Labels: T:CI, T:build

#744 Add Epochs to Address Unbonding Endpoint
  cmd/strided/config/config.go
  proto/stride/stakeibc/address_unbonding.proto
  x/stakeibc/keeper/grpc_query_address_unbondings.go
  x/stakeibc/types/address_unbonding.pb.go
Labels: C:stakeibc, C:CLI, C:proto, A:automerge, Stale
