Repository Stride-Labs/stride, pull requests merged in 2023-12, with the labels that each got.

#981 Properly Account for slash_query_in_progress in Unbondings
  x/stakeibc/keeper/unbonding_records.go
  x/stakeibc/keeper/unbonding_records_get_host_zone_unbondings_msgs_test.go
Labels: C:stakeibc

#990 Add security instructions
  SECURITY.md
Labels: v17

#1017 v14 cleanup
  x/stakeibc/keeper/icacallbacks_delegate.go
  x/stakeibc/keeper/icacallbacks_undelegate.go
Labels: C:stakeibc, v17

#950 Cleanup v15
  proto/stride/stakeibc/callbacks.proto
  proto/stride/stakeibc/tx.proto
  x/stakeibc/client/cli/tx.go
  x/stakeibc/client/cli/tx_undelegate_host.go
  x/stakeibc/handler.go
  x/stakeibc/keeper/grpc_query_host_zone_test.go
  x/stakeibc/keeper/icacallbacks.go
  x/stakeibc/keeper/icacallbacks_undelegate.go
  x/stakeibc/keeper/icacallbacks_undelegate_test.go
  x/stakeibc/keeper/icqcallbacks_callibrate_delegation.go
  x/stakeibc/keeper/icqcallbacks_callibrate_delegation_test.go
  x/stakeibc/keeper/icqcallbacks_delegator_shares_test.go
  x/stakeibc/keeper/msg_server_calibrate_delegation.go
  x/stakeibc/keeper/msg_server_submit_tx.go
  x/stakeibc/keeper/msg_undelegate_host.go
  x/stakeibc/keeper/msg_undelegate_host_test.go
  x/stakeibc/keeper/undelegate_host.go
  x/stakeibc/keeper/undelegate_host_test.go
  x/stakeibc/types/callbacks.pb.go
  x/stakeibc/types/codec.go
  x/stakeibc/types/errors.go
  x/stakeibc/types/message_calibrate_delegation.go
  x/stakeibc/types/message_undelegate_host.go
  x/stakeibc/types/tx.pb.go
Labels: C:stakeibc, C:CLI, C:proto, v17

#1025 removed zero error case in slash query
  x/stakeibc/keeper/icqcallbacks_delegator_shares.go
  x/stakeibc/keeper/icqcallbacks_delegator_shares_test.go
Labels: C:stakeibc

#1031 autopilot redeem stake integration tests
  dockernet/config.sh
  dockernet/tests/integration_tests.bats
Labels: v17

#1030 autopilot redeem unit tests
  x/autopilot/keeper/keeper_test.go
  x/autopilot/keeper/redeem_stake.go
  x/autopilot/keeper/redeem_stake_test.go
  x/autopilot/module_ibc.go
Labels: v17

#1018 sort unbonding prioritization by validator capacity
  x/stakeibc/keeper/unbonding_records.go
  x/stakeibc/keeper/unbonding_records_get_host_zone_unbondings_msgs_test.go
Labels: C:stakeibc, v17
