Repository Stride-Labs/stride, pull requests merged in 2024-07, with the labels that each got.

#1231 Fix wasmvm dir
  app/app.go
Labels: C:app-wiring

#1236 Airdrop queries
  Dockerfile
  proto/stride/airdrop/query.proto
  x/airdrop/client/cli/query.go
  x/airdrop/keeper/keeper_test.go
  x/airdrop/keeper/query.go
  x/airdrop/keeper/query_test.go
  x/airdrop/module.go
  x/airdrop/types/allocation.go
  x/airdrop/types/allocation_test.go
  x/airdrop/types/query.pb.go
  x/airdrop/types/query.pb.gw.go
Labels: C:app-wiring, C:CLI, C:proto

#1237 airdrop - claim and stake revision
  proto/stride/airdrop/airdrop.proto
  x/airdrop/types/airdrop.pb.go
Labels: C:proto

#1238 airdrop - user cli txs
  Makefile
  proto/stride/airdrop/tx.proto
  x/airdrop/client/cli/tx.go
  x/airdrop/keeper/airdrop_test.go
  x/airdrop/keeper/claim.go
  x/airdrop/keeper/msg_server.go
  x/airdrop/types/codec.go
  x/airdrop/types/msgs.go
  x/airdrop/types/msgs_test.go
  x/airdrop/types/tx.pb.go
Labels: T:build, C:CLI, C:proto

#1240 airdrop - implemented basic admin messages
  proto/stride/airdrop/airdrop.proto
  x/airdrop/keeper/keeper_test.go
  x/airdrop/keeper/msg_server.go
  x/airdrop/keeper/msg_server_test.go
  x/airdrop/types/airdrop.pb.go
  x/airdrop/types/errors.go
Labels: C:proto

#1241 airdrop - claim daily and claim early implementation
  proto/stride/airdrop/airdrop.proto
  proto/stride/airdrop/tx.proto
  x/airdrop/client/cli/tx.go
  x/airdrop/keeper/claim.go
  x/airdrop/keeper/claim_test.go
  x/airdrop/keeper/keeper_test.go
  x/airdrop/keeper/msg_server.go
  x/airdrop/types/airdrop.go
  x/airdrop/types/airdrop.pb.go
  x/airdrop/types/airdrop_test.go
  x/airdrop/types/errors.go
  x/airdrop/types/expected_keepers.go
  x/airdrop/types/msgs.go
  x/airdrop/types/msgs_test.go
  x/airdrop/types/tx.pb.go
Labels: C:CLI, C:proto

#1242 close delegation channel tx
  proto/stride/stakeibc/tx.proto
  x/stakeibc/client/cli/tx.go
  x/stakeibc/keeper/msg_server.go
  x/stakeibc/types/codec.go
  x/stakeibc/types/message_close_delegation_channel.go
  x/stakeibc/types/message_close_delegation_channel_test.go
  x/stakeibc/types/tx.pb.go
Labels: C:stakeibc, C:CLI, C:proto

#1245 Add Default Config Settings
  cmd/strided/config_defaults.go
  cmd/strided/root.go
  dockernet/docker-compose.yml
  dockernet/start_network.sh
Labels: T:build, C:CLI

#1247 v23 Changelog
  CHANGELOG.md
  dockernet/build.sh
  dockernet/docker-compose.yml
  dockernet/dockerfiles/Dockerfile.stride
  dockernet/upgrades/Dockerfile.stride
  proto/stride/stakeibc/genesis.proto
  x/stakeibc/genesis.go
  x/stakeibc/types/genesis.pb.go
Labels: C:stakeibc, T:build, C:proto

#1250 remove stDenom from blacklist during unregistration
  x/stakeibc/keeper/host_zone.go
Labels: C:stakeibc, A:automerge

#1251 updated airdrop query to include the date index and airdrop length
  dockernet/config.sh
  dockernet/scripts/airdrop/allocations_prod.csv
  dockernet/scripts/airdrop/setup_prod.sh
  dockernet/src/init_chain.sh
  proto/stride/airdrop/query.proto
  x/airdrop/keeper/query.go
  x/airdrop/keeper/query_test.go
  x/airdrop/types/airdrop.go
  x/airdrop/types/query.pb.go
Labels: T:build, C:proto
