Repository Stride-Labs/stride, pull requests merged in 2024-04, with the labels that each got.

#1174 added v22 upgrade handler
  app/upgrades.go
  app/upgrades/v22/upgrades.go
  app/upgrades/v22/upgrades_test.go
Labels: C:app-wiring

#1176 Fix validator weight check
  x/stakeibc/keeper/gov.go
  x/stakeibc/keeper/host_zone_test.go
  x/stakeibc/keeper/msg_server.go
  x/stakeibc/keeper/msg_server_test.go
  x/stakeibc/keeper/validator.go
Labels: C:stakeibc

#1175 added stToken burn to unregister host zone function
  x/stakeibc/keeper/host_zone.go
  x/stakeibc/types/expected_keepers.go
Labels: C:stakeibc

#1173 added ibc-hooks
  app/app.go
  app/upgrades.go
  go.mod
  go.sum
  x/autopilot/types/autopilot.go
  x/autopilot/types/parser.go
  x/autopilot/types/parser_test.go
Labels: C:app-wiring, dependencies

#1182 added event for redeem stake
  x/stakedym/keeper/unbonding.go
  x/stakedym/keeper/unbonding_test.go
  x/stakeibc/keeper/events.go
  x/stakeibc/keeper/msg_server.go
  x/stakeibc/keeper/unbonding.go
  x/stakeibc/keeper/unbonding_test.go
  x/stakeibc/types/events.go
  x/staketia/keeper/unbonding.go
  x/staketia/keeper/unbonding_test.go
Labels: C:stakeibc

#1177 parameterize max messages per ICA tx on host zone
  app/upgrades.go
  app/upgrades/v22/upgrades.go
  app/upgrades/v22/upgrades_test.go
  proto/stride/stakeibc/host_zone.proto
  proto/stride/stakeibc/tx.proto
  x/stakeibc/client/cli/tx_register_host_zone.go
  x/stakeibc/keeper/msg_server.go
  x/stakeibc/keeper/msg_server_test.go
  x/stakeibc/keeper/unbonding.go
  x/stakeibc/keeper/unbonding_test.go
  x/stakeibc/types/codec.go
  x/stakeibc/types/host_zone.pb.go
  x/stakeibc/types/message_register_host_zone.go
  x/stakeibc/types/message_update_host_zone_params.go
  x/stakeibc/types/message_update_host_zone_params_test.go
  x/stakeibc/types/tx.pb.go
Labels: C:app-wiring, C:stakeibc, C:CLI, C:proto

#1179 remove GetConnectionIdFromICAPort, use connection ID from host zone
  app/apptesting/test_helpers.go
  x/stakeibc/keeper/delegation.go
  x/stakeibc/keeper/ibc.go
  x/stakeibc/keeper/ibc_test.go
  x/stakeibc/keeper/interchainaccounts.go
  x/stakeibc/keeper/keeper.go
  x/stakeibc/keeper/msg_server_test.go
Labels: C:app-wiring, C:stakeibc

#1184 fixed ibc hooks store key
  app/upgrades.go
Labels: C:app-wiring

#1185 v22 Changelog
  CHANGELOG.md
Labels: A:automerge
