Repository Stride-Labs/stride, pull requests merged in 2024-03, with the labels that each got.

#1112 stakeibc re-org part 1 (keepers)
  x/stakeibc/keeper/deposit_records.go
  x/stakeibc/keeper/deposit_records_test.go
  x/stakeibc/keeper/epoch_elapsed_shares_test.go
  x/stakeibc/keeper/epoch_tracker.go
  x/stakeibc/keeper/epoch_tracker_test.go
  x/stakeibc/keeper/hooks.go
  x/stakeibc/keeper/host_zone.go
  x/stakeibc/keeper/host_zone_test.go
  x/stakeibc/keeper/interchainaccounts.go
  x/stakeibc/keeper/keeper.go
  x/stakeibc/keeper/rebalance.go
  x/stakeibc/keeper/rebalance_test.go
  x/stakeibc/keeper/records.go
  x/stakeibc/keeper/records_test.go
  x/stakeibc/keeper/unbonding.go
  x/stakeibc/keeper/validator.go
  x/stakeibc/keeper/validator_test.go
Labels: C:stakeibc

#1103 Add cosmwasm
  Dockerfile
  app/ante_handler.go
  app/app.go
  app/test_setup.go
  app/upgrades.go
  app/upgrades/v19/upgrades.go
  cmd/strided/config/config.go
  cmd/strided/root.go
  go.mod
  go.sum
  proto/cosmwasm/wasm/v1/cosmwasm.proto
  scripts/protocgen.sh
  testutil/localstride/localnet/docker-compose.yml
  testutil/localstride/state-export/docker-compose.yml
  testutil/network/network.go
  x/icaoracle/keeper/icacallbacks_instantiate_oracle.go
  x/icaoracle/keeper/icacallbacks_instantiate_oracle_test.go
  x/icaoracle/keeper/icaoracle.go
  x/icaoracle/keeper/msg_server.go
  x/icaoracle/types/cosmwasm.go
  x/icaoracle/types/cosmwasm.pb.go
Labels: C:app-wiring, T:build, C:CLI, C:proto, C:test, dependencies

#1115 send staketia redemption rate to oracle
  app/app.go
  x/staketia/keeper/hooks.go
  x/staketia/keeper/keeper.go
  x/staketia/keeper/redemption_rate.go
  x/staketia/types/expected_keepers.go
Labels: C:app-wiring

#1113 stakeibc file re-org part 2 (epochly functions)
  x/stakeibc/keeper/claim.go
  x/stakeibc/keeper/claim_test.go
  x/stakeibc/keeper/delegation.go
  x/stakeibc/keeper/delegation_test.go
  x/stakeibc/keeper/deposit_records.go
  x/stakeibc/keeper/hooks.go
  x/stakeibc/keeper/interchainaccounts.go
  x/stakeibc/keeper/redemption_sweep.go
  x/stakeibc/keeper/redemption_sweep_test.go
  x/stakeibc/keeper/transfer.go
  x/stakeibc/keeper/unbonding.go
  x/stakeibc/keeper/unbonding_records_initiate_all_unbondings_test.go
  x/stakeibc/keeper/unbonding_test.go
Labels: C:stakeibc

#1116 stakeibc file re-org part 3 (ibc, ica, icq, and utilities)
  x/stakeibc/keeper/get_light_client_safely_test.go
  x/stakeibc/keeper/hooks.go
  x/stakeibc/keeper/ibc.go
  x/stakeibc/keeper/ibc_test.go
  x/stakeibc/keeper/interchainaccounts.go
  x/stakeibc/keeper/interchainqueries.go
  x/stakeibc/keeper/interchainqueries_test.go
  x/stakeibc/keeper/invariants.go
  x/stakeibc/keeper/invariants_test.go
  x/stakeibc/keeper/keeper.go
  x/stakeibc/keeper/keeper_test.go
  x/stakeibc/keeper/redemption_rate.go
  x/stakeibc/keeper/redemption_rate_test.go
Labels: C:stakeibc

#1099 chore(dev-deps): upgrade ledger dependencies
  go.mod
  go.sum
Labels: A:automerge

#1120 stakeibc file re-org part 5 (msg_server)
  x/stakeibc/keeper/interchainaccounts.go
  x/stakeibc/keeper/interchainaccounts_test.go
  x/stakeibc/keeper/lsm.go
  x/stakeibc/keeper/msg_server.go
  x/stakeibc/keeper/msg_server_add_validators.go
  x/stakeibc/keeper/msg_server_add_validators_test.go
  x/stakeibc/keeper/msg_server_calibrate_delegation.go
  x/stakeibc/keeper/msg_server_change_validator_weight.go
  x/stakeibc/keeper/msg_server_clear_balance.go
  x/stakeibc/keeper/msg_server_clear_balance_test.go
  x/stakeibc/keeper/msg_server_create_trade_route.go
  x/stakeibc/keeper/msg_server_create_trade_route_test.go
  x/stakeibc/keeper/msg_server_delete_trade_route.go
  x/stakeibc/keeper/msg_server_delete_trade_route_test.go
  x/stakeibc/keeper/msg_server_delete_validator.go
  x/stakeibc/keeper/msg_server_delete_validator_test.go
  x/stakeibc/keeper/msg_server_liquid_stake.go
  x/stakeibc/keeper/msg_server_liquid_stake_test.go
  x/stakeibc/keeper/msg_server_lsm_liquid_stake.go
  x/stakeibc/keeper/msg_server_lsm_liquid_stake_test.go
  x/stakeibc/keeper/msg_server_rebalance_validators.go
  x/stakeibc/keeper/msg_server_redeem_stake.go
  x/stakeibc/keeper/msg_server_redeem_stake_test.go
  x/stakeibc/keeper/msg_server_register_host_zone.go
  x/stakeibc/keeper/msg_server_register_host_zone_test.go
  x/stakeibc/keeper/msg_server_restore_interchain_account.go
  x/stakeibc/keeper/msg_server_restore_interchain_account_test.go
  x/stakeibc/keeper/msg_server_resume_host_zone.go
  x/stakeibc/keeper/msg_server_resume_host_zone_test.go
  x/stakeibc/keeper/msg_server_test.go
  x/stakeibc/keeper/msg_server_update_inner_redemption_rate_bounds.go
  x/stakeibc/keeper/msg_server_update_inner_redemption_rate_bounds_test.go
  x/stakeibc/keeper/msg_server_update_trade_route.go
  x/stakeibc/keeper/msg_server_update_trade_route_test.go
  x/stakeibc/keeper/msg_server_update_validator_shares_exch_rate.go
Labels: C:stakeibc

#1125 set wasm permissions
  app/upgrades/v19/upgrades.go
  app/upgrades/v19/upgrades_test.go
Labels: C:app-wiring

#1114 Upgrade to ICS v4.0.0 and sdk v0.47.10
  app/ante_handler.go
  app/app.go
  app/apptesting/test_helpers.go
  app/test_setup.go
  app/upgrades.go
  app/upgrades/v12/upgrades.go
  app/upgrades/v14/upgrades.go
  app/upgrades/v19/upgrades.go
  cmd/consumer.go
  go.mod
  go.sum
  scripts/consumer/README.md
  testutil/consumer.go
  testutil/network/network.go
  x/stakeibc/types/expected_keepers.go
Labels: C:app-wiring, C:stakeibc, C:CLI, C:test, dependencies

#1128 switched to stride fork of sdk for v0.47.10
  go.mod
  go.sum
Labels: dependencies

#1122 upgraded pfm
  go.mod
  go.sum
Labels: A:automerge, dependencies

#1127 added sttia rate limit
  app/upgrades/v19/upgrades.go
  app/upgrades/v19/upgrades_test.go
  go.mod
Labels: C:app-wiring, dependencies

#1131 v19 Changelog
  CHANGELOG.md
Labels: A:automerge

#1132 revert upgrade-ics-4.0
  CHANGELOG.md
  app/ante_handler.go
  app/app.go
  app/apptesting/test_helpers.go
  app/test_setup.go
  app/upgrades.go
  app/upgrades/v12/upgrades.go
  app/upgrades/v14/upgrades.go
  app/upgrades/v19/upgrades.go
  cmd/consumer.go
  go.mod
  go.sum
  scripts/consumer/README.md
  testutil/consumer.go
  testutil/network/network.go
  x/stakeibc/types/expected_keepers.go
Labels: C:app-wiring, C:stakeibc, C:CLI, C:test, dependencies

#1142 added toggle trade controller tx
  proto/stride/stakeibc/tx.proto
  x/stakeibc/client/cli/tx.go
  x/stakeibc/client/cli/tx_toggle_trade_controller.go
  x/stakeibc/handler.go
  x/stakeibc/keeper/msg_server.go
  x/stakeibc/keeper/msg_server_test.go
  x/stakeibc/keeper/reward_converter.go
  x/stakeibc/keeper/reward_converter_test.go
  x/stakeibc/keeper/trade_route.go
  x/stakeibc/keeper/trade_route_test.go
  x/stakeibc/types/codec.go
  x/stakeibc/types/message_set_community_pool_rebate_test.go
  x/stakeibc/types/message_toggle_trade_controller.go
  x/stakeibc/types/message_toggle_trade_controller_test.go
  x/stakeibc/types/tx.pb.go
Labels: C:stakeibc, C:CLI, C:proto

#1148 v20 upgrade handler scaffolding
  app/upgrades.go
  app/upgrades/v20/upgrades.go
  app/upgrades/v20/upgrades_test.go
Labels: C:app-wiring, A:automerge

#1153 Upgraded ICS to 4.0
  app/ante_handler.go
  app/app.go
  app/apptesting/test_helpers.go
  app/test_setup.go
  app/upgrades.go
  app/upgrades/v12/upgrades.go
  app/upgrades/v14/upgrades.go
  app/upgrades/v20/upgrades.go
  cmd/consumer.go
  go.mod
  go.sum
  scripts/consumer/README.md
  testutil/consumer.go
  testutil/network/network.go
  x/stakeibc/types/expected_keepers.go
Labels: C:app-wiring, C:stakeibc, C:CLI, C:test, dependencies

#1159 v20 Changelog
  CHANGELOG.md
Labels: A:automerge

#1157 Modify ICS Params in v20 Migration
  app/upgrades/v20/upgrades.go
  dockernet/src/register_host.sh
  dockernet/start_network.sh
  x/stakeibc/keeper/reward_converter.go
Labels: C:app-wiring, C:stakeibc, T:build

#1163 added help info to toggle command
  x/stakeibc/client/cli/tx_toggle_trade_controller.go
Labels: C:stakeibc, C:CLI

#1165 added v21 upgrade handler
  app/upgrades.go
  app/upgrades/v21/upgrades.go
  app/upgrades/v21/upgrades_test.go
Labels: C:app-wiring

#1162 updated rebate to use native denom instead of reward denom
  dockernet/config.sh
  dockernet/scripts/community-pool-staking/README.md
  dockernet/scripts/community-pool-staking/reinvest_native.sh
  dockernet/scripts/community-pool-staking/reinvest_reward.sh
  dockernet/scripts/community-pool-staking/trade_authz.sh
  dockernet/scripts/community-pool-staking/trade_simulated.sh
  dockernet/src/register_host.sh
  x/stakeibc/keeper/community_pool.go
  x/stakeibc/keeper/icqcallbacks_withdrawal_host_balance.go
  x/stakeibc/keeper/icqcallbacks_withdrawal_reward_balance.go
  x/stakeibc/keeper/icqcallbacks_withdrawal_reward_balance_test.go
  x/stakeibc/keeper/reward_converter.go
  x/stakeibc/keeper/reward_converter_test.go
Labels: C:stakeibc, T:build

#1166 added function to unregister host zone
  x/stakeibc/keeper/host_zone.go
  x/stakeibc/keeper/msg_server_test.go
  x/stakeibc/types/expected_keepers.go
Labels: C:stakeibc

#1168 v21 Changelog
  CHANGELOG.md
Labels: A:automerge
