Repository Stride-Labs/stride, pull requests merged in 2024-06, with the labels that each got.

#1209 Faster `make sync`
  Makefile
Labels: T:build

#1213 staketia migration - disable staketia LS
  proto/stride/staketia/tx.proto
  x/staketia/client/cli/tx.go
  x/staketia/keeper/delegation.go
  x/staketia/keeper/delegation_test.go
  x/staketia/keeper/hooks.go
  x/staketia/keeper/msg_server.go
  x/staketia/keeper/msg_server_test.go
  x/staketia/types/tx.pb.go
Labels: C:CLI, C:proto

#1211 Consolidated stakeibc cli commands
  x/stakeibc/client/cli/gov.go
  x/stakeibc/client/cli/parser.go
  x/stakeibc/client/cli/query.go
  x/stakeibc/client/cli/query_epoch_tracker.go
  x/stakeibc/client/cli/query_epoch_tracker_test.go
  x/stakeibc/client/cli/query_host_zone.go
  x/stakeibc/client/cli/query_module_address.go
  x/stakeibc/client/cli/query_next_packet_sequence.go
  x/stakeibc/client/cli/query_params.go
  x/stakeibc/client/cli/query_register_ica.go
  x/stakeibc/client/cli/query_trade_routes.go
  x/stakeibc/client/cli/query_validator.go
  x/stakeibc/client/cli/tx.go
  x/stakeibc/client/cli/tx_add_validators.go
  x/stakeibc/client/cli/tx_add_validators_proposal.go
  x/stakeibc/client/cli/tx_calibrate_delegation.go
  x/stakeibc/client/cli/tx_change_validator_weight.go
  x/stakeibc/client/cli/tx_claim_undelegated_tokens.go
  x/stakeibc/client/cli/tx_clear_balance.go
  x/stakeibc/client/cli/tx_delete_validator.go
  x/stakeibc/client/cli/tx_liquid_stake.go
  x/stakeibc/client/cli/tx_lsm_liquid_stake.go
  x/stakeibc/client/cli/tx_rebalance_validators.go
  x/stakeibc/client/cli/tx_redeem_stake.go
  x/stakeibc/client/cli/tx_register_host_zone.go
  x/stakeibc/client/cli/tx_restore_interchain_account.go
  x/stakeibc/client/cli/tx_resume_host_zone.go
  x/stakeibc/client/cli/tx_set_community_pool_rebate.go
  x/stakeibc/client/cli/tx_toggle_trade_controller.go
  x/stakeibc/client/cli/tx_update_delegation.go
  x/stakeibc/client/cli/tx_update_inner_redemption_rate_bounds.go
Labels: C:stakeibc, C:CLI

#1201 Batched delegations
  proto/stride/records/records.proto
  x/records/types/records.pb.go
  x/stakeibc/keeper/delegation.go
  x/stakeibc/keeper/delegation_test.go
  x/stakeibc/keeper/icacallbacks_delegate.go
  x/stakeibc/keeper/icacallbacks_delegate_test.go
  x/stakeibc/keeper/keeper_test.go
  x/stakeibc/keeper/records.go
  x/stakeibc/types/errors.go
Labels: C:stakeibc, C:records, C:proto

#1195 batched undelegations
  app/upgrades/v10/upgrades_test.go
  app/upgrades/v5/upgrades_test.go
  proto/stride/records/records.proto
  proto/stride/stakeibc/callbacks.proto
  x/icacallbacks/migrations/v2/convert.go
  x/icacallbacks/migrations/v2/convert_test.go
  x/interchainquery/keeper/msg_submit_query_response_test.go
  x/records/keeper/epoch_unbonding_record.go
  x/records/keeper/epoch_unbonding_record_test.go
  x/records/types/records.go
  x/records/types/records.pb.go
  x/records/types/records_test.go
  x/stakeibc/keeper/claim_test.go
  x/stakeibc/keeper/delegation.go
  x/stakeibc/keeper/events.go
  x/stakeibc/keeper/hooks.go
  x/stakeibc/keeper/ibc.go
  x/stakeibc/keeper/ibc_test.go
  x/stakeibc/keeper/icacallbacks_claim.go
  x/stakeibc/keeper/icacallbacks_claim_test.go
  x/stakeibc/keeper/icacallbacks_redemption.go
  x/stakeibc/keeper/icacallbacks_redemption_test.go
  x/stakeibc/keeper/icacallbacks_undelegate.go
  x/stakeibc/keeper/icacallbacks_undelegate_test.go
  x/stakeibc/keeper/keeper_test.go
  x/stakeibc/keeper/msg_server.go
  x/stakeibc/keeper/msg_server_test.go
  x/stakeibc/keeper/records.go
  x/stakeibc/keeper/records_test.go
  x/stakeibc/keeper/redemption_sweep.go
  x/stakeibc/keeper/redemption_sweep_test.go
  x/stakeibc/keeper/unbonding.go
  x/stakeibc/keeper/unbonding_test.go
  x/stakeibc/types/callbacks.pb.go
  x/stakeibc/types/errors.go
  x/stakeibc/types/events.go
Labels: C:app-wiring, C:stakeibc, C:interchainquery, C:records, C:proto

#1221 Replace `docker-compose` with `docker compose`
  Makefile
  dockernet/README.md
  dockernet/config.sh
  dockernet/pkill.sh
  scripts/local-to-mainnet/commands.sh
  scripts/local-to-mainnet/start.sh
  testutil/localstride/state-export/scripts/submit_upgrade.sh
Labels: T:build, C:test

#1224 added wasm light client
  app/app.go
  app/upgrades.go
  app/upgrades/v23/upgrades.go
  go.mod
  go.sum
Labels: C:app-wiring, dependencies

#1227 removed version from docker compose
  dockernet/docker-compose.yml
Labels: T:build
