Repository Stride-Labs/stride, pull requests merged in 2024-08, with the labels that each got.

#1244 TS Integration Tests Framework
  .gitignore
  dockernet/config/relayer_config_ics.yaml
  dockernet/config/relayer_config_juno_osmo.yaml
  dockernet/config/relayer_config_reward_converter.yaml
  dockernet/config/relayer_config_stride.yaml
  dockernet/ts-tests/.npmrc
  dockernet/ts-tests/.prettierrc.json
  dockernet/ts-tests/README.md
  dockernet/ts-tests/package.json
  dockernet/ts-tests/pnpm-lock.yaml
  dockernet/ts-tests/test/main.test.ts
  go.mod
  go.sum
Labels: dependencies

#1256 integration test initial network setup
  .dockerignore
  .gitignore
  Dockerfile
  cmd/consumer.go
  dockernet/src/init_chain.sh
  integration-tests/Makefile
  integration-tests/README.md
  integration-tests/api/main.py
  integration-tests/api/requirements.txt
  integration-tests/dockerfiles/Dockerfile.api
  integration-tests/dockerfiles/Dockerfile.cosmos
  integration-tests/dockerfiles/Dockerfile.stride
  integration-tests/network/.helmignore
  integration-tests/network/Chart.yaml
  integration-tests/network/configs/keys.json
  integration-tests/network/scripts/config.sh
  integration-tests/network/scripts/create-validator.sh
  integration-tests/network/scripts/init-chain.sh
  integration-tests/network/scripts/init-node.sh
  integration-tests/network/scripts/readiness.sh
  integration-tests/network/templates/api.yaml
  integration-tests/network/templates/scripts.yaml
  integration-tests/network/templates/validator.yaml
  integration-tests/network/values.yaml
  scripts/start_local_node.sh
Labels: T:build, C:CLI

#1274 bumped wasmd to v0.46
  go.mod
  go.sum
Labels: A:automerge, dependencies

#1276 add admin address to integration test framework
  integration-tests/Makefile
  integration-tests/network/configs/keys.json
  integration-tests/network/scripts/build.sh
  integration-tests/network/scripts/config.sh
  integration-tests/network/scripts/init-chain.sh
Labels: A:automerge

#1275 changed osmosis swap type URL
  dockernet/config/ica_host.json
  proto/osmosis/gamm/v1beta1/osmosis.proto
  proto/stride/stakeibc/tx.proto
  scripts/protocgen.sh
  x/stakeibc/client/cli/tx.go
  x/stakeibc/keeper/msg_server.go
  x/stakeibc/keeper/reward_converter.go
  x/stakeibc/keeper/reward_converter_test.go
  x/stakeibc/types/message_toggle_trade_controller.go
  x/stakeibc/types/osmosis.pb.go
  x/stakeibc/types/tx.pb.go
Labels: C:stakeibc, T:build, C:CLI, C:proto

#1277 added log to undelegate icacallback
  dockernet/scripts/1.sh
  x/stakeibc/keeper/icacallbacks_undelegate.go
Labels: C:stakeibc

#1281 fixed map nondeterminism
  cmd/strided/config_defaults.go
  utils/utils.go
  x/stakeibc/keeper/unbonding.go
Labels: C:stakeibc, C:CLI, A:automerge
