Repository Stride-Labs/stride, pull requests merged in 2024-01, with the labels that each got.

#1032 add validator weight cap
  proto/stride/stakeibc/params.proto
  proto/stride/stakeibc/tx.proto
  utils/utils.go
  x/ratelimit/handler.go
  x/stakeibc/client/cli/tx.go
  x/stakeibc/client/cli/tx_change_validator_weight.go
  x/stakeibc/handler.go
  x/stakeibc/keeper/host_zone.go
  x/stakeibc/keeper/host_zone_test.go
  x/stakeibc/keeper/msg_server_change_validator_weight.go
  x/stakeibc/simulation/change_validator_weight.go
  x/stakeibc/types/codec.go
  x/stakeibc/types/errors.go
  x/stakeibc/types/message_change_validator_weight.go
  x/stakeibc/types/message_change_validator_weight_test.go
  x/stakeibc/types/params.go
  x/stakeibc/types/params.pb.go
  x/stakeibc/types/tx.pb.go
Labels: C:simulator, C:stakeibc, C:CLI, C:proto, v17

#1042 Fix rate limit integration tests
  dockernet/README.md
  dockernet/scripts/ratelimit/common.sh
  dockernet/scripts/ratelimit/proposals/add_traveler_ujuno_on_juno.json
  dockernet/scripts/ratelimit/proposals/add_traveler_ujuno_on_osmo.json
  dockernet/scripts/ratelimit/setup.sh
  dockernet/scripts/ratelimit/test_denoms.sh
  readme-docs/md/claim_README.md
  readme-docs/md/icacallbacks_README.md
  readme-docs/md/interchainquery_README.md
  x/icacallbacks/README.md
Labels: T:build, C:docs

#1028 whitelisted all gov proposals
  app/ante_handler.go
  app/app.go
  app/proposals_whitelisting.go
Labels: C:app-wiring, A:automerge, v17

#996 Refresh autopilot LS + forward
  Makefile
  app/app.go
  dockernet/config.sh
  dockernet/scripts/autopilot/liquid_stake.sh
  dockernet/scripts/autopilot/liquid_stake_and_forward_custom.sh
  dockernet/scripts/autopilot/liquid_stake_and_forward_default.sh
  dockernet/tests/integration_tests.bats
  x/autopilot/keeper/airdrop_test.go
  x/autopilot/keeper/keeper.go
  x/autopilot/keeper/liquidstake.go
  x/autopilot/module_ibc.go
  x/autopilot/types/expected_keepers.go
  x/autopilot/types/parser.go
Labels: C:app-wiring, T:build, v17

#1012 add RedeemStake to autopilot
  dockernet/config.sh
  dockernet/tests/integration_tests.bats
  x/autopilot/keeper/keeper_test.go
  x/autopilot/keeper/liquidstake.go
  x/autopilot/keeper/redeem_stake.go
  x/autopilot/keeper/redeem_stake_test.go
  x/autopilot/module_ibc.go
  x/autopilot/types/parser.go
  x/stakeibc/types/host_zone.go
  x/stakeibc/types/message_liquid_stake.go
  x/stakeibc/types/types.go
Labels: C:stakeibc, T:build, A:automerge, v17

#1043 upgraded to ics v3.2.0
  app/app.go
  app/apptesting/test_helpers.go
  app/test_setup.go
  app/upgrades/v12/upgrades.go
  cmd/consumer.go
  go.mod
  go.sum
  testutil/consumer.go
  x/stakeibc/keeper/epoch_elapsed_shares_test.go
  x/stakeibc/keeper/get_light_client_safely_test.go
  x/stakeibc/keeper/msg_server_register_host_zone_test.go
  x/stakeibc/types/expected_keepers.go
Labels: C:app-wiring, C:stakeibc, C:CLI, C:test, dependencies, v17

#1038 autopilot hashed sender
  app/app.go
  x/autopilot/keeper/airdrop.go
  x/autopilot/keeper/keeper.go
  x/autopilot/keeper/liquidstake.go
  x/autopilot/module_ibc.go
  x/autopilot/types/autopilot.go
  x/autopilot/types/expected_keepers.go
  x/autopilot/types/parser.go
  x/autopilot/types/parser_test.go
  x/stakeibc/keeper/msg_server_redeem_stake.go
Labels: C:app-wiring, C:stakeibc, A:automerge, v17

#1052 bump go 1.19 -> 1.21
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  Dockerfile
  dockernet/upgrades/Dockerfile.cosmovisor
  go.mod
  go.sum
  testutil/localstride/state-export/docker-compose.yml
Labels: T:CI, T:build, C:test, dependencies

#889 add pfm
  app/app.go
  app/upgrades.go
  go.mod
  go.sum
Labels: C:app-wiring, dependencies, v17

#1045 send disable tokenization tx for delegation account on hub
  app/upgrades/v17/upgrades.go
  app/upgrades/v17/upgrades_test.go
  proto/cosmos/staking/v1beta1/lsm_tx.proto
  x/stakeibc/types/lsm_tx.pb.go
Labels: v17

#1039 autopilot fallback address
  app/apptesting/test_helpers.go
  x/autopilot/keeper/fallback.go
  x/autopilot/keeper/fallback_test.go
  x/autopilot/keeper/ibc.go
  x/autopilot/keeper/ibc_test.go
  x/autopilot/keeper/keeper_test.go
  x/autopilot/keeper/liquidstake.go
  x/autopilot/keeper/liquidstake_test.go
  x/autopilot/module_ibc.go
  x/autopilot/types/keys.go
  x/autopilot/types/parser.go
  x/stakeibc/keeper/host_zone.go
Labels: C:app-wiring, C:stakeibc, A:automerge

#1029 V17 upgrade handler
  app/apptesting/test_helpers.go
  app/upgrades.go
  app/upgrades/v17/upgrades.go
  app/upgrades/v17/upgrades_test.go
  proto/cosmos/staking/v1beta1/lsm_tx.proto
  x/ratelimit/keeper/hooks.go
  x/stakeibc/keeper/msg_server_register_host_zone.go
  x/stakeibc/types/lsm_tx.pb.go
Labels: C:app-wiring, C:stakeibc, C:proto, v17

#1053 dynamically update user redemption records during unbonding
  app/upgrades/v17/upgrades.go
  app/upgrades/v17/upgrades_test.go
  proto/stride/records/records.proto
  x/records/client/cli/query_user_redemption_record_test.go
  x/records/keeper/epoch_unbonding_record.go
  x/records/keeper/epoch_unbonding_record_test.go
  x/records/keeper/user_redemption_record_test.go
  x/records/types/errors.go
  x/records/types/records.go
  x/records/types/records.pb.go
  x/records/types/records_test.go
  x/stakeibc/keeper/msg_server_redeem_stake.go
  x/stakeibc/keeper/msg_server_redeem_stake_test.go
  x/stakeibc/keeper/unbonding_records.go
  x/stakeibc/keeper/unbonding_records_get_host_zone_unbondings_msgs_test.go
Labels: C:app-wiring, C:stakeibc, C:records, C:CLI, C:proto, v17

#1060 fix bug in changelog script
  scripts/changelog.sh
Labels: T:build, A:automerge

#1062 comment clarifying autopilot fallback address
  x/autopilot/keeper/liquidstake.go
Labels: A:automerge

#1054 add pfm testing scripts
  Makefile
  app/upgrades.go
  dockernet/scripts/autopilot/liquid_stake_and_forward_chainC_failure_case.sh
  dockernet/scripts/pfm/pfm_abc_default.sh
  dockernet/scripts/pfm/pfm_to_autopilot_ls.sh
Labels: C:app-wiring, T:build

#1068 remove url escape icq
  dockernet/tests/integration_tests.bats
  x/interchainquery/keeper/msg_server.go
Labels: C:interchainquery

#1067 update script to print balances
  dockernet/scripts/autopilot/liquid_stake_and_forward_custom.sh
Labels: A:automerge

#1071 rename native amount and host zone unbonding status
  app/upgrades/v17/upgrades.go
  app/upgrades/v17/upgrades_test.go
  app/upgrades/v5/upgrades_test.go
  dockernet/tests/integration_tests.bats
  proto/stride/records/records.proto
  readme-docs/md/records_README.md
  x/records/README.md
  x/records/client/cli/query_user_redemption_record_test.go
  x/records/keeper/epoch_unbonding_record.go
  x/records/keeper/epoch_unbonding_record_test.go
  x/records/keeper/user_redemption_record_test.go
  x/records/migrations/v2/convert.go
  x/records/migrations/v2/convert_test.go
  x/records/types/records.pb.go
  x/stakeibc/keeper/grpc_query_address_unbondings.go
  x/stakeibc/keeper/icacallbacks_claim.go
  x/stakeibc/keeper/icacallbacks_claim_test.go
  x/stakeibc/keeper/icacallbacks_redemption.go
  x/stakeibc/keeper/icacallbacks_undelegate.go
  x/stakeibc/keeper/msg_server_claim_undelegated_tokens.go
  x/stakeibc/keeper/msg_server_claim_undelegated_tokens_test.go
  x/stakeibc/keeper/msg_server_redeem_stake.go
  x/stakeibc/keeper/msg_server_redeem_stake_test.go
  x/stakeibc/keeper/msg_server_restore_interchain_account.go
  x/stakeibc/keeper/unbonding_records.go
  x/stakeibc/keeper/unbonding_records_get_host_zone_unbondings_msgs_test.go
Labels: C:app-wiring, C:stakeibc, C:records, C:CLI, C:docs, C:proto

#1064 V17 testing scripts
  app/upgrades.go
  dockernet/scripts/community-pool-staking/README.md
  dockernet/scripts/community-pool-staking/claim.sh
Labels: C:app-wiring

#1073 upgrade integration tests for v17
  Makefile
  dockernet/config.sh
  dockernet/dockerfiles/Dockerfile.evmos
  dockernet/tests/integration_tests.bats
Labels: T:build, A:automerge

#1072 Ignore host's check_go_version
  dockernet/build.sh
Labels: T:build, A:automerge

#1079 Remove address validation from query
  x/records/keeper/grpc_query_user_redemption_record_for_user.go
Labels: C:records

#1074 reset delegation change in progress to 0 when a channel is restored
  x/stakeibc/keeper/msg_server_restore_interchain_account.go
  x/stakeibc/keeper/msg_server_restore_interchain_account_test.go
Labels: C:stakeibc, A:automerge

#1088 add store key
  app/upgrades.go
Labels: C:app-wiring, A:automerge

#1091 feature fee address
  app/app.go
  dockernet/scripts/staketia/reinvest.sh
  dockernet/src/create_logs.sh
  proto/stride/staketia/staketia.proto
  x/staketia/keeper/delegation.go
  x/staketia/keeper/delegation_test.go
  x/staketia/keeper/genesis.go
  x/staketia/types/expected_keepers.go
  x/staketia/types/host_zone.go
  x/staketia/types/host_zone_test.go
  x/staketia/types/keys.go
  x/staketia/types/staketia.pb.go
Labels: C:app-wiring, C:proto, A:automerge

#1092 Signaling prop in upgrade
  app/upgrades.go
  app/upgrades/v18/constants.go
  app/upgrades/v18/upgrades.go
  app/upgrades/v18/upgrades_test.go
Labels: C:app-wiring

#1084 V18 Upgrade Migrations
  app/upgrades.go
  app/upgrades/v18/constants.go
  app/upgrades/v18/upgrades.go
  app/upgrades/v18/upgrades_test.go
  x/stakeibc/keeper/hooks.go
  x/stakeibc/keeper/unbonding_records.go
  x/stakeibc/keeper/unbonding_records_get_host_zone_unbondings_msgs_test.go
  x/stakeibc/keeper/unbonding_records_initiate_all_unbondings_test.go
Labels: C:app-wiring, C:stakeibc

#1096 misc dockernet changes during v18 testing
  Makefile
  dockernet/scripts/staketia/reinvest.sh
  dockernet/src/create_logs.sh
Labels: T:build, A:automerge

#1095 v18 changelog
  CHANGELOG.md
  scripts/changelog.sh
Labels: T:build, A:automerge
