Repository Stride-Labs/stride, pull requests merged in 2025-02, with the labels that each got.

#1340 upgraded comet
  .github/workflows/admins.yml
  .github/workflows/build.yml
  .github/workflows/gosec.yml
  .github/workflows/label.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  Dockerfile
  dockernet/src/register_host.sh
  dockernet/upgrades/Dockerfile.cosmovisor
  go.mod
  go.sum
  testutil/localstride/localnet/docker-compose.yml
  testutil/localstride/state-export/docker-compose.yml
Labels: T:CI, T:build, C:test, dependencies

#1345 bumped wasmvm
  go.mod
  go.sum
Labels: A:automerge, dependencies

#1347 add txBytes support to `strided tx decode` in addition to signBytes
  cmd/strided/root.go
Labels: C:CLI

#1358 added staketia API changes to changelog
  CHANGELOG.md
Labels: A:automerge

#1354 bbb integration tests
  app/app.go
  integration-tests/Makefile
  integration-tests/client/package.json
  integration-tests/client/pnpm-lock.yaml
  integration-tests/client/test/core.test.ts
  integration-tests/client/test/main.test.ts
  integration-tests/client/test/msgs.ts
  integration-tests/client/test/utils.ts
  integration-tests/dockerfiles/Dockerfile.relayer
  integration-tests/network/scripts/config.sh
  integration-tests/network/scripts/init-chain.sh
  integration-tests/network/scripts/node-readiness.sh
  integration-tests/network/scripts/start-relayer.sh
  integration-tests/network/scripts/utils.sh
  integration-tests/network/templates/relayer.yaml
  integration-tests/network/values.yaml
  proto/osmosis/osmosis.proto
  proto/stride/icqoracle/query.proto
  proto/stride/icqoracle/tx.proto
  scripts/protocgen.sh
  x/icqoracle/deps/osmomath/decimal.go
  x/icqoracle/deps/osmomath/exp2.go
  x/icqoracle/deps/osmomath/int.go
  x/icqoracle/deps/osmomath/sdk_math_alias.go
  x/icqoracle/deps/types/osmosis_concentrated_liquidity_pool.go
  x/icqoracle/deps/types/osmosis_concentrated_liquidity_pool.pb.go
  x/icqoracle/keeper/abci.go
  x/icqoracle/keeper/icq.go
  x/icqoracle/keeper/icq_test.go
  x/icqoracle/keeper/keeper.go
  x/icqoracle/keeper/msg_server.go
  x/icqoracle/keeper/query.go
  x/icqoracle/keeper/query_test.go
  x/icqoracle/keeper/token_price.go
  x/icqoracle/types/codec.go
  x/icqoracle/types/msgs.go
  x/icqoracle/types/osmosis.pb.go
  x/icqoracle/types/query.pb.go
  x/icqoracle/types/tx.pb.go
  x/interchainquery/types/keys.go
  x/strdburner/keeper/keeper.go
Labels: C:app-wiring, C:stakeibc, T:CI, C:interchainquery, T:build, C:CLI, C:proto, dependencies

#1360 update ibc & pfm
  app/app.go
  app/apptesting/test_helpers.go
  app/upgrades/v17/upgrades.go
  go.mod
  go.sum
  x/icaoracle/keeper/msg_server.go
  x/icaoracle/types/expected_keepers.go
  x/stakeibc/keeper/interchainaccounts.go
  x/stakeibc/keeper/msg_server.go
  x/stakeibc/keeper/registration.go
Labels: C:app-wiring, C:stakeibc, dependencies

#1369 v26 testing
  Dockerfile
  app/upgrades/v26/upgrades.go
  dockernet/tests/integration_tests.bats
  go.mod
  go.sum
  testutil/localstride/README.md
  testutil/localstride/state-export/docker-compose.yml
  testutil/localstride/state-export/scripts/start.sh
  testutil/localstride/state-export/scripts/submit_upgrade.sh
  testutil/localstride/state-export/scripts/testnetify.py
  testutil/localstride/state-export/scripts/update_peers.sh
Labels: C:app-wiring, T:build, C:test, dependencies
