Repository Stride-Labs/stride, pull requests merged in 2025-03, with the labels that each got.

#1375 fix CmdCreateAuction() to correctly parse minBidAmount
  x/auction/client/cli/tx.go
  x/icqoracle/client/cli/tx.go
Labels: C:CLI

#1376 bump wasmvm
  go.mod
  go.sum
Labels: A:automerge, dependencies

#1378 fix auction queries paths
  integration-tests/client/package.json
  integration-tests/client/pnpm-lock.yaml
  integration-tests/client/test/main.test.ts
  x/auction/types/query.pb.go
  x/auction/types/query.pb.gw.go
Labels: C:CLI, C:proto

#1382 Merge v26.0.3 into main
  CHANGELOG.md
  x/auction/client/cli/tx.go
  x/auction/types/msgs.go
Labels: C:CLI

#1220 Unit Tests for stakeibc CLI
  testutil/network/network.go
  x/stakeibc/client/cli/cli_test.go
  x/stakeibc/client/cli/gov_test.go
  x/stakeibc/client/cli/tx.go
  x/stakeibc/client/cli/tx_test.go
Labels: C:stakeibc, C:CLI, C:test, Stale
