Repository Stride-Labs/stride, pull requests merged in 2025-01, with the labels that each got.

#1286 Added celestia validators
  app/upgrades/v25/upgrades.go
  app/upgrades/v25/validators.go
  x/stakeibc/keeper/validator.go
Labels: Stale, v25

#1331 bump cosmos-sdk 0.47.10 -> 0.47.15
  go.mod
  go.sum
Labels: dependencies

#1335 fixed stuck lsm record
  app/upgrades/v25/upgrades.go
  app/upgrades/v25/upgrades_test.go
Labels: C:app-wiring

#1329 Update outer bounds + Celestia inner bounds + tests
  app/upgrades/v25/upgrades.go
  app/upgrades/v25/upgrades_test.go
Labels: C:app-wiring

#1332 Executes Prop 256 in Upgrade Handler
  app/upgrades/v25/upgrades.go
  app/upgrades/v25/upgrades_test.go
Labels: C:app-wiring

#1339 fixed build docker image CI
  .github/workflows/release.yml
Labels: T:CI
