Repository Stride-Labs/stride, pull requests merged in 2025-08, with the labels that each got.

#1424 add DelayedVestingAccount code and test
  app/upgrades.go
  app/upgrades/v28/upgrades.go
  app/upgrades/v28/upgrades_test.go
Labels: C:app-wiring, A:automerge

#1430 Revert "move AuctionOffRewardCollectorBalance to BeginBlocker"
  x/stakeibc/keeper/abci.go
  x/stakeibc/keeper/hooks.go
Labels: C:stakeibc

#1440 Action Prop 262
  app/upgrades.go
  app/upgrades/v28/upgrades.go
  app/upgrades/v28/upgrades_test.go
Labels: C:app-wiring
